<div class="buttonSpace">

    @if (canEdit) {
        <button mat-icon-button (click)="createMenuDetail(header)">
            <mat-icon class="text-text">add</mat-icon>
        </button>
    }
    @for (menu of header?.menus; track $index) {
        @for (iso of menu.iso; track iso.iso) {
            @if (selectedIso === iso.iso) {
                <div routerLink="{{ menu.menuUrl }}"
                     [ngClass]="direction === 'row' ? 'buttonWidth' : 'buttonMaxWidth'"
                     routerLinkActive="activebutton"
                >
                    @if (menu.image) {
                        <img src="{{'data:image/jpg;base64,' + menu.image}}" alt=""/>
                    } @else {
                        @if (menu.icon) {
                            <div class="menu-icon">
                                <mat-icon class="icon-display"> {{ menu.icon }}</mat-icon>
                            </div>
                        }
                    }
                    <br>
                    @if (iso.title){
                        <div class="button-text">
                            <quill-view [content]="getTopMenuLabel(iso.title)" format="html" theme="snow"></quill-view>
                        </div>
                    }

                </div>
           }
        }
    }

</div>


