@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

:host {
  @include mat.icon-overrides((
          color: $primary-color
  ));
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: var(--secondary-color);
}

.dashboard-card-dialog {
  position: relative;
  margin: 0.5rem;
  background-color: $primary-color;
  overflow-y: auto;
  overflow-x: auto;
  color: $secondary-color;
  //scrollbar-color: $secondary-color $primary-color;

  .mat-mdc-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
    //padding: 8px 8px 8px 8px;
    //overflow: hidden;
    ////margin-right: 30%;
    //align-items: center;
    //padding-top: 30px;
    //padding-bottom: 30px;

    //.button-container-left {
    //  margin-right: auto;
    //}
  }
}

.mat-expansion-panel-header {
  // min-height: 50px;
  padding: 0;
  background-color: $secondary-color !important;
}

.mat-expansion-panel-header-title {
  background-color: $secondary-color !important;
}

.text-text{
  border-top: 2px solid $primary-color;
  color: $primary-color;
  font-weight: bolder;
}

.text-icon{
  color: $primary-color;
  font-weight: bolder;
}



.custom-panel {
 // .ql-editor {
    // color: $primary-color;
  //  border: 0;
    // padding-right: 10px;
    //  width: 12rem;

 // }
  //.ql-size-huge{
  //  font-size: 2.25em !important;
  //  padding-left: 0.1rem !important;
  //  line-height: 1.3 !important;
  //}
}

.naslov {
  padding: 0 !important;
}

.mat-expansion-panel {
  margin-top: 0.5rem;
  margin-left: 0;
}

.mat-expansion-indicator {
  color: $secondary-color;
}

.icon-display-menutop {
  transform: scale(2);
  color: $primary-color !important;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  margin-left: 0.8rem;
  padding-right: 1rem;
  //padding-right: 1rem;
  //padding-left: 1rem;
}

.icon-display-tooltip{
  color: $primary-color;
}

.ql-picker-options{
  background-color: $secondary-color !important;
  color: $primary-color !important;
}
.ql-picker-options:hover{
  background-color: $secondary-color !important;
  color: $primary-color !important;
}
.ql-active{
  font-weight: bolder !important;
  color: $primary-color !important;
}
.ql-stroke{
  color: $primary-color !important;
}

.ql-picker-label{
  color: $primary-color !important;
}
.ql-toolbar .ql-snow{
  color: $primary-color !important;
}
.ql-bold .ql-active{
  color: $primary-color !important;
  font-weight: bolder;
}

.actionButtons{
  max-width: 21rem !important;
  min-width: 21rem !important;
  padding-right: 0.5rem !important;
}

.mat-expansion-panel .naslov {
  background-color: $secondary-color;
  color: $primary-color;
  align-items: center;
  width: 100%;
  //direction: ltr;
}

.mat-expansion-panel .mat-expansion-panel-header {
  img {
    max-height: 4rem;
    min-height: 3rem;
  }
  height: 6.25rem;
}

.mat-expansion-panel .mat-expansion-panel-header:hover {
  background-color: $secondary-color;
  height: 6.25rem;
  img {
    max-height: 4rem;
    min-height: 3rem;
  }
}

.dashboard-card mat-card-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.container {
  //display: flex;
  //flex-direction: row;
  //position: relative;
  //border: 2px solid $secondary-color;
  //border-radius: 10px;
  //padding: 0.5rem 1rem;
  //margin-bottom: 1rem;
  //max-width: 25rem;
  padding: 0;
}

.eyes {
  align-content: center;
  padding-left: 1rem;
  margin: 0;
}

.mylabel {
  grid-column: span 2;
  padding-top: 10px;
  padding-right: 10px;
}

.myicon {
  transform: scale(1.6);
}

.iconAndFile{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $secondary-color;
  justify-content: space-between;
}

.myButton_full_width {
  margin-top: 2px;
  margin-left: 2px;
  width: 100%;
  background-color: $secondary-color !important;
}

.myButton_full_width:hover {
  background-color: $primary-color !important;
  color: $secondary-color !important;
}

.iconAndFileDesc {
  font-weight: bolder;
  color: $primary-color !important;
}
.iconAndFileDesc:hover {
  color: $primary-color !important;
  font-weight: bolder;
}


.form-control{
  line-height: 2 !important;
  height: 3rem;
}


.flexLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.title {
  position: absolute;
  top: -.75rem;
  left: 10px;
  background: $secondary-color;
  color: $primary-color;
  padding: 0 10px;
  font-weight: bold;
}

.title2 {
  grid-column: span 0;
  position: absolute;
  top: -.75rem;
  left: 10px;
  background: $secondary-color;
  color: $primary-color;
  padding: 0 10px;
  font-weight: bold;
}

.mat-expansion-panel-header-title {

}



.row-container {
  display: flex;
  flex-direction: row;

  .button-container-left {
    padding-left: 10px;
  }
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $primary-color;
  border: 2px solid $secondary-color;
}

.mat-mdc-extended-fab:hover {
  background-color: $primary-color;
  color: $secondary-color;
}
