@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

:host {
  @include mat.icon-overrides((
          color: $primary-color
  ));
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: var(--secondary-color);
}
.dashboard-card {
  position: relative;
  margin: 15px;
  background-color: $primary-color;
  overflow-y: auto;
  color: $secondary-color;
  //scrollbar-color: $secondary-color $primary-color;
}

.dashboard-card mat-card-content {
  --ngx-editor-menubar-bg-color: $secondary-color;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}

.container {
  position: relative;
  border: 2px solid $secondary-color;
  border-radius: 10px;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
}

.mylabel{
  grid-column: span 2;
  padding-top: 10px;
 padding-right: 10px;
}
.myicon{
  margin-top: 10px;
  margin-left: 2px;
}

.mat-mdc-form-field.full{
  width: 100%;
}

.flexLayout{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}
.title {
  position: absolute;
  top: -.75rem;
  left: 10px;
  background: $secondary-color;
  color: $primary-color;
  padding: 0 10px;
  font-weight: bold;
}

.title2 {
  grid-column: span 0;
  position: absolute;
  top: -.75rem;
  left: 10px;
  background: $secondary-color;
  color: $primary-color;
  padding: 0 10px;
  font-weight: bold;
}


.mat-mdc-card-header {
  display: flex;
  padding: 8px 8px 8px 8px;
  overflow: hidden;
  //margin-right: 30%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .button-container-left {
    margin-right: auto;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  .button-container-left {
    padding-left: 10px;
  }
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $primary-color;
  border: 2px solid $secondary-color;
}
.mat-mdc-extended-fab:hover{
  background-color: $primary-color;
  color: $secondary-color;
}
