<mat-card class="dashboard-card">
  <mat-card-header>
    <h2 class="button-container-left text">@if (isNew) {
      {{"create.page" | translate}}
    } @else {
      {{"update.page" | translate}}
    }</h2>
    <ng-container>
      <iso-buttons [countries]="languages" [selectedIn]="selectedIsoTitle"  (selectedOut)="activeIso($event)">
      </iso-buttons>
    </ng-container>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <ng-container formArrayName="iso">
      <ng-container *ngFor="let item of isoArray.controls; let i = index">

        @if (isIsoSelected(item.value)){
          <ng-container  class="row-input-container-left" [formGroupName]="i">

            <mat-label class="text">{{"detail.dialog.title" | translate}}</mat-label>
            <ngx-editor-menu [editor]="editor(item.value.iso)"  [colorPresets]="colorPresets" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor [editor]="editor(item.value.iso)" formControlName="title">
            </ngx-editor>
            <div class="text">
              {{ remainingSize(item.value.iso) }}
            </div>

          </ng-container>

          <ng-container class="row-input-container-left" [formGroupName]="i">
            <mat-form-field>
              <mat-label>Label</mat-label>
              <input matInput formControlName="label" placeholder="Label">
              <mat-error>Min 2, Max 10</mat-error>
            </mat-form-field>
          </ng-container>

        }
      </ng-container>
    </ng-container>

    <div class="row-container">
      <mat-form-field>
        <mat-label>Icon</mat-label>
        <input matInput type="string" formControlName="icon" placeholder="Mat-Icon">
        <mat-hint>
          <a href="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/" target="_blank">Icons</a>
        </mat-hint>
      </mat-form-field>
      <div class="button-container-left">
        <mat-icon size="50">{{icon}}</mat-icon>
      </div>

    </div>
      <button [disabled]="!form.valid" (click)="onCreateDetail()"  mat-flat-button color="primary">
      @if (isNew) {
        Create
      } @else {
        Update
      }
      </button>

  </mat-card-content>
</mat-card>
