@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$warn-color: var(--warn-color);
$info-color: var(--info-color);
$accept-color: var(--accept-color);


.primaryColor{
  background-color: $primary-color;
  width: 50px;
}
.secondaryColor{
  background-color: $secondary-color;
  width: 50px;
}
.dangerColor{
  background-color: $danger-color;
  width: 50px;
}

.warnColor{
  background-color: $warn-color;
  width: 50px;
}

.infoColor{
  background-color: $info-color;
  width: 50px;
}

.acceptColor{
  background-color: $accept-color;
  width: 50px;
}

.whiteColor{
  background-color: white;
  width: 50px;
}

.blackColor{
  background-color: black;
  width: 50px;
}

.columns-text{
  font-weight: bolder;
  color: $secondary-color;
  background-color: $primary-color;
}
.selected{
  font-weight: bolder;
  color: $primary-color;
  background-color: $secondary-color;
}
.dashboard-card {
  position: relative;
  margin: 15px;
  background-color: $primary-color;
  overflow-y: auto;
  color: $secondary-color;
  //scrollbar-color: $secondary-color $primary-color;
}
.mybutton {
  margin-top: 2px;
  margin-left: 2px;
  background-color: $primary-color !important;
  color: $secondary-color !important;
}
.mybutton:hover {
  background-color: $secondary-color !important;
  color: $primary-color !important;
}
.dashboard-card mat-card-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}

.mat-mdc-card-header {
  display: flex;
  padding: 8px 8px 8px 8px;
  overflow: hidden;
  //margin-right: 30%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .button-container-left {
    margin-right: auto;
  }

  .row-input-container-left {
    .mat-mdc-form-field{
      width: 100%;
    }
  }
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $secondary-color;
  border-radius: 10px;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $primary-color;
  border: 2px solid $secondary-color;
}

