<mat-card class="dashboard-card">
  <mat-card-header>
    <h2 class="button-container-left">
      Settings
    </h2>

  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <div>
      <mat-label><p>Row span</p></mat-label>
      <mat-button-toggle-group hideSingleSelectionIndicator="true"
                               [value]="rowSpan"
                               (change)="onChangeRowSpan($event)">
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
        <mat-button-toggle [value]="4">4</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-label><p>Column span</p></mat-label>
      <mat-button-toggle-group hideSingleSelectionIndicator="true"
                               [value]="colSpan"
                               (change)="onChangeColSpan($event)">
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
        <mat-button-toggle [value]="4">4</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-label><p>Corner radius (px)</p></mat-label>
      <mat-button-toggle-group hideSingleSelectionIndicator="true"
                               [value]="cornerRadius"
                               (change)="onChangeCornerRadius($event)">
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="10">10</mat-button-toggle>
        <mat-button-toggle [value]="20">20</mat-button-toggle>
        <mat-button-toggle [value]="30">30</mat-button-toggle>
        <mat-button-toggle [value]="40">40</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-label><p>Elevation (Z)</p></mat-label>
      <mat-button-toggle-group hideSingleSelectionIndicator="true"
                               [value]="elevation"
                               (change)="onChangeElevation($event)">
        <mat-button-toggle [value]="0">0</mat-button-toggle>
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
        <mat-button-toggle [value]="4">4</mat-button-toggle>
        <mat-button-toggle [value]="5">5</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-label><p>Background Color </p></mat-label>
      <mat-button-toggle-group [value]="backgroundColor"
                               (change)="onChangeBackgroundColor($event)">
        <mat-button-toggle class="primaryColor" [value]=colors?.primaryColor></mat-button-toggle>
        <mat-button-toggle class="secondaryColor" [value]=colors?.secondaryColor></mat-button-toggle>
        <mat-button-toggle class="dangerColor" [value]=colors?.dangerColor></mat-button-toggle>
        <mat-button-toggle class="warnColor" [value]=colors?.warnColor></mat-button-toggle>
        <mat-button-toggle class="infoColor" [value]=colors?.infoColor></mat-button-toggle>
        <mat-button-toggle class="acceptColor" [value]=colors?.acceptColor></mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <mat-divider></mat-divider>
    <button [disabled]="!form.valid" (click)="onCreateItemSettings()" mat-flat-button color="primary">
      Save
    </button>

  </mat-card-content>
</mat-card>
