@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

$row-color: #d1d1c3;

.download{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.download:hover {
  color: $secondary-color;
  cursor: pointer;
}

.mat-mdc-row:nth-child(odd){
  background-color: $row-color;
}
.mat-mdc-row:nth-child(even){
  background-color: $primary-color;
}
.mat-mdc-header-row{
  background-color: $secondary-color;
  color: $primary-color;
  font-size: large;
}
.mat-mdc-paginator{
  background-color: $secondary-color;
  color: $primary-color;
  font-size: large;
}

.mat-select{
  color: $primary-color;
}

/*
 .mat-mdc-select {
   display: inline-block;
   width: 100%;
   outline: none;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   color: rgb(53 94 217 / 87%);
   font-family: var(--mat-select-trigger-text-font, var(--mat-sys-body-large-font));
   line-height: var(--mat-select-trigger-text-line-height, var(--mat-sys-body-large-line-height));
   font-size: var(--mat-select-trigger-text-size, var(--mat-sys-body-large-size));
   font-weight: var(--mat-select-trigger-text-weight, var(--mat-sys-body-large-weight));
   letter-spacing: var(--mat-select-trigger-text-tracking, var(--mat-sys-body-large-tracking));
 }*/
