@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

:host {
  @include mat.icon-overrides((
          color: $primary-color
  ));
}

.mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: var(--secondary-color);
}
.dashboard-card3 {
  background-color: $primary-color;
  color: $secondary-color;

  border-bottom: var(--secondary-color) solid 1px;
  //scrollbar-color: $secondary-color $primary-color;
}

.max{
  width: 100%;
  color: $primary-color;
  background-color: $secondary-color;
}
.max:hover{
  width: 100%;
  color: $secondary-color;
  background-color: $primary-color;
}

.dashboard-card3 mat-card-content {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}

.dashboard-card3 mat-card-header {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}
.dashboard-card3 mat-card-footer {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $secondary-color;
  border: 2px solid $primary-color;
}

.mat-mdc-extended-fab:hover{
  background-color: $primary-color;
  color: $secondary-color;
}

.loginSpace {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
}

.gap1Space {
  flex-grow: 0.4;
}

.gap2Space {
  flex-grow: 0.4;
}

.contentSpace {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
}
.contentSpaceActions{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-grow: 0.14;
  justify-content: space-between;
}
.contentSpace{
 width: 15rem;
}
.max{
  width: 100%;
}

.input-group-append{
  position: absolute;
  right: 1.2rem;
  top: 0.7rem;
  scale: 1.5;
  cursor: pointer;
}
