@use '@angular/material' as mat;

//https://stackblitz.com/edit/material-shadow-demo-6xgcov?file=src%2Fglobal_styles.scss,src%2Fapp%2Fpages%2Fdemo%2Fdemo.component.html
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$liMarkerColor: var(--primary-color);

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100%;
  .my-quill-view2{
    .ql-editor{
      //width: 100%;
      height: 100%;
      line-height: 1.2 !important;
      overflow-y: inherit !important;
      li{
        color: $liMarkerColor;
      }
    }
  }
}


