@use '@angular/material' as mat;

//https://stackblitz.com/edit/material-shadow-demo-6xgcov?file=src%2Fglobal_styles.scss,src%2Fapp%2Fpages%2Fdemo%2Fdemo.component.html
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //font-size: large;
 // height: inherit;
}

.content {
  width: 100%;
  height: 100%;
  //line-height: 30px;

  span{
    line-height: 10px;
    margin: 0;
    padding: 0;
  }
  .my-quill-view2{
    font-size: 51px !important;
    line-height: 1 !important;
    .ql-editor{
      margin: 0;
      padding: 0;
      //font-size: 52px !important;
     // line-height: 1 !important;
      span{
        font-size: 35px !important;
        line-height: 1.2 !important;

      }

      .ql-size-huge{
        font-size: 100px !important;
        line-height: 1.4 !important;
        margin: 0;
        padding: 0;
      }
      .ql-size-large{
        line-height: 1.2 !important;
        font-size: 70px !important;
        margin: 0;
        padding: 0;
      }
      .ql-size-small{
        line-height: 1.2 !important;
        font-size: 20px !important;
        margin: 0;
        padding: 0;
      }
    }
  }

}


