<ng-container *ngrxLet="{
    isMobile: isMobile$,
    isEmailSent: isEmailSent$,
 } as vm">

  <mat-card class="dashboard-card4">
    <mat-card-header>

      <div class="loginSpace">

        @if (!vm.isMobile) {
          <div class="gap1Space">
          </div>
        }

        <div class="contentSpace">
          <h3 class="text-center"><b>{{ "forgot.password" | translate }}
            <i class="fa-regular fa-face-sad-cry fa-xl"></i>
          </b></h3>
        </div>

        <div class="gap2Space">
        </div>
      </div>
      <br>
      </mat-card-header>

      <mat-card-content>
        <div class="loginSpace">

          <div class="gap1Space">
          </div>

          <div class="contentSpace">
            <div>

              @if (vm.isEmailSent) {

                <div>
                  <label for="password" class="form-label">{{ "new.password" | translate }}</label>
                  <div class="input-group">
                    <input [(ngModel)]="authRequest.password"
                      type="{{showPassword ? 'text' : 'password'}}" class="form-control myInput"
                      id="password"
                      placeholder="Password">

                      <div class="input-group-append">
                        @if (!showPassword) {
                          <i class="fa fa-eye" (click)="showPassword = !showPassword" aria-hidden="true"
                          ></i>
                        }
                        @if (showPassword) {
                          <i class="fa fa-eye-slash" (click)="showPassword = !showPassword"
                          aria-hidden="true"></i>
                        }
                      </div>
                    </div>
                  </div>

                  <br>

                    <label for="code" class="form-label">{{ "type.code.from.email" | translate }}</label>
                    <code-input id="code" class="code-input"
                      [isCodeHidden]="false"
                      [codeLength]="6"
                      [code]="'number'"
                      (codeCompleted)="onCodeCompleted($event)">
                    </code-input>
                    <br>
                      <button class="max" mat-fab extended (click)="changePassword()">
                        {{ "set.new.password" | translate }} <i class="fa-solid fa-bolt"></i>
                      </button>
                    } @else {
                      <label for="login" class="form-label">Email</label>
                      <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login"
                        placeholder="name@example.com">
                        <br>
                          <button class="max" mat-fab extended (click)="sendEmail()">
                            {{ "send.me.email" | translate }} <i class="fa-solid fa-hands-praying"></i>
                          </button>
                          <br>
                            <a class="link" routerLink="/login">{{ "nothing.remembered" | translate }}</a>
                          }

                        </div>
                      </div>

                      <div class="gap2Space">
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </ng-container>
