@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

:host{
  @include mat.card-overrides((
    elevated-container-shape: 16px
  ));
}
.max{
  background-color: $primary-color;
  color: $secondary-color !important;
}
.max:hover{
 font-weight: bolder;
}
.dashboard-card {
  margin: 5px;
  background-color: $secondary-color;
  max-height: 600px;
  position: relative;
  overflow-y: auto;
  color: $primary-color;
  //scrollbar-color: $secondary-color $primary-color;
}
.text-label{
  color: $primary-color;
}
.dashboard-card mat-card-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}

//.ql-picker-options{
//  background-color: $secondary-color !important;
//  color: firebrick !important;
//}
//.ql-picker-options:hover{
//  background-color: $secondary-color !important;
//  color: gray !important;
//}
//.ql-active{
//  font-weight: bolder !important;
//  color: salmon !important;
//}
//.ql-stroke{
//  color: white !important;
//}
//
//.ql-picker-label{
//  color: red !important;
//}
//.ql-toolbar .ql-snow{
//  color: green !important;
//}
//.ql-bold .ql-active{
//  color: yellow !important;
//  font-weight: bolder;
//}

input[type=file]::file-selector-button {
  cursor: pointer;
  border: 0;
  background-color: $primary-color;
  color: $secondary-color;
}
input[type=file]::file-selector-button:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

input{
  width: 70%;
}

.mat-mdc-card-header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  //margin-right: 30%;
  align-items: center;
  padding: 30px 8px;

  .button-container-left {
    margin-right: auto;
    color: $primary-color;
  }
  color: $secondary-color;
  .row-input-container-left {
    .mat-mdc-form-field{
      width: 100%;
    }
  }

}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $secondary-color;
  border-radius: 10px;
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-fab-container-color: $secondary-color !important;
  border: 2px solid $secondary-color;
}
.mat-mdc-extended-fab:hover{
  background-color: $primary-color;
  color: $secondary-color;
}
