@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$shadow-color: var(--shadow-color);

:host{
  display: block;
  border-radius: var(--cornerRadius);
  grid-row: span var(--rowSpan);
  grid-column: span var(--colSpan);
  min-height: var(--minHeight);
}

.icon-display-menu {
  transform: scale(1);
  color: $primary-color !important;
  background-color: $secondary-color;
  .my-icon-item{
    color: $primary-color;
  }
}

.icon-display-menu:hover {
  transform: scale(1);
  background-color: $primary-color;

  .my-icon-item{
    color: $secondary-color;
  }
}


//.mat-mdc-mini-fab{
//  background-color: $secondary-color;
//}

.containery-widget{
  box-sizing: border-box;
  border-radius: inherit;
  background-color: var(--backgroundColor);
  box-shadow: 0 0 15px 3px $shadow-color;
  min-height: 100%;
}

.settings-button{
  top:20px;
  right: 20px;
  justify-self: end;
}
