@use '@angular/material' as mat;

$imageAlignItems: var(--imageAlignVertical);
$imageJustifyContent: var(--imageAlignHorizontal);
$imageWidth: var(--imageWidth);
$imageHeight: var(--imageHeight);

.pic-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.pic-image2 {
  display: flex;
  justify-self: $imageJustifyContent;
  align-self: $imageAlignItems; //end,center,start
  width: $imageWidth;
  height: $imageHeight;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 1;
  img{
    border-top-left-radius: var(--cornerRadius);
    border-top-right-radius: var(--cornerRadius);
    justify-self: $imageJustifyContent;
    align-self: $imageAlignItems; //end,center,start
  }
}
.pic-content2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
}

