.pic-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 105% !important;
}
.pic-image2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 1;
  img{
    border-top-left-radius: var(--cornerRadius);
    border-top-right-radius: var(--cornerRadius);
  }
}
.pic-content2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 2;
  width: 100%;

}

