spring:
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    database: mysql
  mail:
    host: ${EMAIL_HOST_NAME}
    port: 465
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        mime:
          charset: UTF
        smtp:
          auth: true
          ssl:
            enable: true
            trust: "*"
          starttls:
            enable: true
    protocol: smtp
application:
  security:
    jwt:
      secret-key: ${SECRET_KEY}
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days --> not used
  cors:
    origins: http://localhost:8081/,https://info-dema.eu,https://www.info-dema.eu,https://dema-apartments.eu/,https://www.dema-apartments.eu/,https://adriaticsun.eu/,https://www.adriaticsun.eu/,https://dev-news.eu/,https://www.dev-news.eu/,https://info-dema-test1.com/,https://www.info-dema-test1.com/,https://residence.info-dema.eu/,https://www.residence.info-dema.eu/,https://dekor-kamen.info-dema.eu/,https://www.dekor-kamen.info-dema.eu/,https://cannabis-oil.shop/,https://www.cannabis-oil.shop/,https://villa-dubravka-samobor.com/,https://www.villa-dubravka-samobor.com/,

server:
  port: ${API_PORT}
google:
  recaptcha:
    secret: ${RECAPTCHA_SECRET}

stripe:
  secret:
    key: ${STRIPE_SECRET}

#logging:
#  level:
#    org.springframework.security: TRACE
