<div>
    @if (!isMobile){
        {{ getIsoByKey(selectedIso) }}
    }
    <button mat-button [matMenuTriggerFor]="iso">
        <div [ngClass]="flag(selectedIso)"></div>
    </button>
</div>
<div>
    <mat-menu #iso="matMenu">
        @for (country of countriesIso; track $index) {

            @if (country.iso === selectedIso) {
                <button mat-raised-button>
                    <div [ngClass]="flag(country?.iso)"></div>
                </button>
            } @else {
                <button mat-button (click)="selectIso(country?.iso)">
                    <div [ngClass]="flag(country?.iso)"></div>
                </button>
            }
        }
    </mat-menu>
</div>
