@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: $primary-color;
  overflow-y: auto;
  //scrollbar-color: $secondary-color $primary-color;
}

.dashboard-card mat-card-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}

.mat-mdc-card-header {
  display: flex;
  padding: 8px 8px 8px 8px;
  overflow: hidden;
  //margin-right: 30%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .button-container-left {
    margin-right: auto;
  }

}

