<ng-container
        *ngrxLet="{ header:header$,isLoggedOut: authStore.isLoggedOut$, isLoggedIn: authStore.isLoggedIn$, selectedIso: selectedIso$, role: role$, user:user$} as vm">

    <div class="grid-container">

        <div class="flex-container">

            <div class="iconSpace">
                <img width="200" *ngIf="vm.header?.iconImage" (click)="toHome()"
                     src="{{'data:image/jpg;base64,' + vm.header?.iconImage}}" alt=""/>
                <p>{{ getIconText(vm.selectedIso, vm.header?.iso) }}</p>
            </div>

            <div class="rightSpace">

                <div class="contentSpace">

                    <div class="headerText">

                        <div class="logoText">
                            {{ getIconTitle(vm.selectedIso, vm.header?.iso) }}
                            <div class="grb">
                                <div class="grb-crveno"></div>
                                <div class="grb-bijelo"></div>
                                <div class="grb-bijelo"></div>
                                <div class="grb-crveno"></div>
                            </div>
                        </div>

                        <div class="descriptionText">
                            {{ getDescriptionText(vm.selectedIso, vm.header?.iso) }}
                        </div>


                    </div>
                    <div class="isoSpaceLanguage">
                        <iso-buttons *ngIf="vm.header?.languages" [countries]="vm.header?.languages"
                                     [selectedIn]="vm.selectedIso"
                                     (selectedOut)="activeIso($event)">
                        </iso-buttons>

                        @if (vm.isLoggedIn) {
                            <user-buttons [user]="vm.user">
                            </user-buttons>
                        }
                    </div>
                </div>


                <div class="buttonSpace">

                    <div class="tabButtons">

                        @for (headerDetail of vm.header?.detail; track headerDetail.detailUrl; let idx1 = $index, e = $even) {

                            @for (iso of headerDetail.iso; track iso.iso; let idx2 = $index, e = $even) {

                                @if (vm.selectedIso === iso.iso) {

                                        <div>
                                            <button
                                                    routerLink="{{ headerDetail.detailUrl }}"
                                                    routerLinkActive="activebutton"
                                                    mat-fab extended>
                                                <mat-icon *ngIf="headerDetail.icon"> {{ headerDetail.icon }}
                                                </mat-icon>
                                                {{ iso.label }}
                                            </button>
                                        </div>
                                }

                            }
                        }

                    </div>

                    <div class="dashboardButtons">
                        @if (vm.isLoggedIn) {
                            <ng-container>
                                <button routerLink="/my"
                                        routerLinkActive="activebutton"
                                        mat-fab extended>
                                    <mat-icon>dashboard</mat-icon>
                                    {{ "my.dashboard" | translate }}
                                </button>
                            </ng-container>
                        }

                        @if (vm.isLoggedOut) {
                            <div class="button-container">
                                <button routerLink="/login"
                                        routerLinkActive="activebutton"
                                        mat-fab extended>
                                    <mat-icon>favorite</mat-icon>
                                    Login
                                </button>
                            </div>

                            <div class="button-container">
                                <button routerLink="/register"
                                        routerLinkActive="activebutton"
                                        mat-fab extended>
                                    <mat-icon>favorite</mat-icon>
                                    Register
                                </button>
                            </div>
                        }

                    </div>


                </div>


            </div>
        </div>


        <mat-grid-list cols="8" rowHeight="8:6" [gutterSize]="'0px'">

            <mat-grid-tile class="dashboard-tile" [colspan]="6" [rowspan]="5">
                <router-outlet  [routerOutletData]="vm.selectedIso"></router-outlet>
            </mat-grid-tile>

            <mat-grid-tile class="reklame-tile" [colspan]="2" [rowspan]="2">
                <calendar></calendar>
            </mat-grid-tile>

            <mat-grid-tile class="location-tile" [colspan]="2" [rowspan]="3">
                <div class="container">
                    <reklame></reklame>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

    </div>
</ng-container>
