@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$myImageUrl: var(--myImageUrl);
$myIconImage: var(--myIconImage);
$titleSize: var(--title-size);
$headerTextHeight: 9.25rem;

.pdf-header {
  display: flex;
  flex-direction: row;
}

.pdf-text {
  display: flex;
  flex-direction: row;
  color: $primary-color;
  font-weight: bolder;
  font-size: large;
  align-content: end;
  padding-bottom: 1rem;
  width: 300px !important;
}

img {
  display: block;
  max-width: 100%;
}

.grid-container {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-top: 0.7rem;
}


.header-container {
  min-height: 4rem;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
  // background-color: yellow !important;
  background-image: $myImageUrl;
}

.iconSpace {
  display: flex;
  flex-direction: column;
  width: 15%;
  // padding-top: 1rem;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  z-index: 2;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  object-fit: cover;
  background-image: $myIconImage;
  min-width: 3rem;
  margin: 1.2rem;
}

.iconSpaceMobile {
  display: flex;
  flex-direction: column;
  width: 15%;
  // padding-top: 1rem;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  z-index: 2;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  object-fit: cover;
  background-image: $myIconImage;
  min-width: 3rem;
  margin: 0.4rem;
}

.header-left {
  display: flex;
  overflow-x: auto;
}

.grb {
  align-items: center;
  color: $primary-color;
  padding-left: 1.25rem;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
  grid-template-rows: repeat(2, 2.5rem);
}

.grb-crveno {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $secondary-color;
}

.grb-bijelo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $primary-color;
}

.location-tile {
  display: block;
  background-color: $secondary-color;
  padding: 0;
  margin: 0;
}

.container {
  align-items: flex-start;
  flex-grow: 0.1;
  height: 100%;
  padding-right: 25px;
  margin: 0;
}

//.dashboard-tile {
//  display: flex;
//  padding: 0;
//  margin: 0;
//  background-color: $secondary-color;
//  overflow-y: auto;
//  align-content: flex-start;
//  //scrollbar-color: $secondary-color $primary-color;
//}

.tabsSpace {
  display: flex;
  align-items: end;
}

.rightSpace {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  flex-grow: 1;
  z-index: 2;
}

.contentSpace {
  display: flex;
  flex-direction: row;
  flex-grow: 0.9;
}


.headerTextMobile {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  color: $primary-color;
  flex-grow: 0.8;
  //min-height: 3.25rem;

  .my-quill-view-menu-title {
    margin: 0;
    padding: 0;
  }
  .ql-editor {
    margin: 0;
    padding: 0;
    height: 3.5em !important;
  }

  //.quill-view {
  //  margin: 0;
  //  padding: 0;
  //  height: 100px !important;
  //}
}

.headerText {

  // position: absolute;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  color: $primary-color;
  flex-grow: 0.8;
  min-height: $headerTextHeight;
  //.ql-size-huge {
  //  font-size: 6.25em !important;
  //  padding-left: 1rem !important;
  //  line-height: 1 !important;
  //}
  //
  //.ql-size-large {
  //  font-size: 1.56em !important;
  //}

  .my-quill-view {
    height: $headerTextHeight;
    margin: 0;
    padding: 0;
    .ql-editor {
      // height: 180px;
      margin: 0;
      padding: 0;
    }
  }
}


.descriptionText {
  //color: $primary-color;
  //font-weight: bold;
  //font-family: "Lucida Bright";
  //font-size: 1rem;
  //flex-grow: 0.2;
  //margin-top: 2rem;

  color: $primary-color;
  font-weight: bold;
  font-family: "Lucida Bright";
  font-size: 1rem;
}


.isoSpaceLanguage {
  flex-grow: 0.2;
  display: flex;
  flex-direction: row-reverse;
  //padding-bottom: 25px;
  color: $primary-color;
  font-weight: bold;
  font-family: cursive;
  z-index: 2;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--primary-color), 0px 0px 3px 1px var(--primary-color), 0px 0px 2px 1px var(--primary-color);
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
}

.activebutton {
  background-color: $primary-color;
  color: $secondary-color;
  --mdc-extended-fab-container-elevation-shadow: 1px 1px 0px 0px $secondary-color, 1px 1px 0px 0px $secondary-color, 1px 1px 0px 0px $secondary-color;
}

.mat-mdc-extended-fab:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dashboard-card mat-card-title {
  display: block;
  padding: 3px;
  margin: 5px;
  // background-color: $third-color;
}

.dashboard-card-content {
  display: block;
  padding: 0;
  margin: 0;
  //  background-color: #{$third-color};
}


.reklame-card {
}

/*
img {
  max-inline-size: 100%;
  block-size: auto;
}*/

.slideshow-wrapper {
  position: relative;
  float: left;
}

//.flex-container {
//  position: absolute;
//  color: #fff;
//  font-size: 25px;
//  bottom: 20px;
//  left: 0;
//  right: 0;
//  text-align: center;
//  z-index: 2;
//}
.slideshow-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}

.back {
  width: 100%;
  display: flex;
  justify-content: end;
}

.back-button {
  background-color: $secondary-color !important;
  width: 100px;
  color: $primary-color !important;
}

.back-button:hover {
  background-color: $primary-color !important;
  width: 100px;
  color: $secondary-color !important;
}

.back-icon {
  transform: rotate(180deg);
}
