@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$bg-image: var(--bg-image);
$linearPercentage: var(--linear-percentage);
$myImageUrl: var(--myImageUrl);


.grid-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

section > div {
  padding-left: 10px;
  padding-top: 10px;
  // background-color: #{$secondary-color};
  //  background-image: url("/assets/HD-wallpaper-dubrovnik-summer-coast-resort-croatian-city-adriatic-sea-croatia.jpg") ;
  // background-repeat: no-repeat;
  //  background-size: cover;

}

/*
.flex-container-image-wrapper:before {
  position:absolute;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  z-index: 1;
}
*/

.flex-container {
  // position: relative;
  display: flex;
  background-color: $secondary-color;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
  background-image: $myImageUrl;
}

.sticky{
//  z-index: 2;
  height: 100px;
}

.iconSpace {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-top: 15px;
  align-items: center;
  align-content: center;
  color: $primary-color;
  font-weight: bold;
  font-family: "Calibri";
  font-size: larger;
  justify-content: flex-end;
  z-index: 2;
}

.rightSpace {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  flex-grow: 1;
  z-index: 2;
}


.contentSpace {
  display: flex;
  flex-direction: row;
  flex-grow: 0.9;
}

.buttonSpace {
  flex-grow: 0.1;
  display: flex;
  align-items: flex-end;
}

.dashboardButtons {
  flex-grow: 0.1;
  display: flex;
  flex-flow: row-reverse;
}

.tabButtons {
  display: flex;
  flex-grow: 0.9;
  margin-right: 15%;
  justify-content: end;
}

.header-left {
  display: flex;
  overflow-x: auto;
}


.grb {
  align-items: center;
  color: $primary-color;
  padding-left: 20px;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: repeat(2, 40px);
}

.grb-crveno {
  width: 40px;
  height: 40px;
  background-color: $secondary-color;
}

.grb-bijelo {
  width: 40px;
  height: 40px;
  background-color: $primary-color;
}

.location-tile {
  display: block;
  background-color: $secondary-color;
  padding: 0;
  margin: 0;
}

.container {
  align-items: flex-start;
  flex-grow: 0.1;
  height: 100%;
  padding-right: 25px;
  margin: 0;
}


.dashboard-tile {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: $secondary-color;
  overflow-y: auto;
  align-content: flex-start;
  //scrollbar-color: $secondary-color $primary-color;
}

.tabsSpace {
  display: flex;
  align-items: end;
}

/*.isoSpace{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}*/


.logoText {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  color: $primary-color;
  font-weight: bold;
  font-family: "Lucida Bright";
  font-size: 4.3rem;
  flex-grow: 0.8;
}

.descriptionText {
  color: $primary-color;
  font-weight: bold;
  font-family: "Lucida Bright";
  font-size: 20px;
  flex-grow: 0.2;
  margin-top: 40px;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  color: $primary-color;
  font-weight: bold;
  font-family: "Lucida Bright";
  font-size: 1rem;
  flex-grow: 0.8;
}

.isoSpaceLanguage {
  flex-grow: 0.2;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 25px;
  color: $primary-color;
  font-weight: bold;
  font-family: cursive;
  z-index: 2;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--primary-color), 0px 0px 3px 1px var(--primary-color), 0px 0px 2px 1px var(--primary-color);
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
}

.activebutton {
  background-color: $primary-color;
  color: $secondary-color;
  --mdc-extended-fab-container-elevation-shadow: 1px 1px 0px 0px $secondary-color, 1px 1px 0px 0px $secondary-color, 1px 1px 0px 0px $secondary-color;
}

.mat-mdc-extended-fab:hover {
  background-color: $primary-color;
  color: $secondary-color;

}


.dashboard-card mat-card-title {
  display: block;
  padding: 3px;
  margin: 5px;
  // background-color: $third-color;
}

.dashboard-card-content {
  display: block;
  padding: 0;
  margin: 0;
  //  background-color: #{$third-color};
}



.reklame-card {
}

/*
img {
  max-inline-size: 100%;
  block-size: auto;
}*/

.slideshow-wrapper {
  position: relative;
  float: left;
}

//.flex-container {
//  position: absolute;
//  color: #fff;
//  font-size: 25px;
//  bottom: 20px;
//  left: 0;
//  right: 0;
//  text-align: center;
//  z-index: 2;
//}
.slideshow-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}
