<div>
    <button class="close" mat-button [matMenuTriggerFor]="iso">
        <mat-icon class="mobile-top-icon">menu</mat-icon>
    </button>
</div>
<mat-menu class="my-class" #iso="matMenu">
    <div class="actionButtons">
        <ng-container>
            <top-menu class="top-menu"
                    [canEdit]="canEdit"
                    [header]="header"
                    [selectedIso]="selectedIso"
                    [direction]="'column'"
            ></top-menu>
        </ng-container>
    </div>
</mat-menu>
