@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.dashboard-card {
  position: absolute;
  top: 1px;
  left: 0;
  right: 15px;
  bottom: 5px;
  background-color: $primary-color;
  overflow-y: auto;
  //scrollbar-color: $secondary-color $primary-color;
  @include mat.card-overrides((
     elevated-container-shape: 16px
  ));
}

.dashboard-card-header {
  padding: 0;
}
.dashboard-card-content {
  text-align: center;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin-bottom: 5px;
}


/*
 'container-color': map.get($deps, 'md-sys-color', 'surface'),
     'container-color': map.get($deps, 'md-sys-color', 'surface-container-low'),
     'container-elevation': map.get($deps, 'md-sys-elevation', 'level1'),
     'container-shadow-color': map.get($deps, 'md-sys-color', 'shadow'),
     'container-shape': map.get($deps, 'md-sys-shape', 'corner-medium'),
 */
