<ng-container *ngrxLet="{
    isMobile: isMobile$
 } as vm">

    <mat-card class="dashboard-card">
        <mat-card-header>

            <div class="loginSpace">

                @if (!vm.isMobile) {
                    <div class="gap1Space">
                    </div>
                }

                <div class="contentSpace">
                    <h3 class="text-center"><b>{{ 'sign.in' | translate }}</b></h3>

                    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
                    </div>

                </div>

                <div class="gap2Space">
                </div>
            </div>

        </mat-card-header>

        <mat-card-content>
            <div class="loginSpace">

                <div class="gap1Space">
                </div>

                <div class="contentSpace">
                    <div>
                        <label for="login" class="form-label">Email address</label>
                        <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login"
                               placeholder="name@example.com">
                        <br>
                    </div>

                    <div>
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input [(ngModel)]="authRequest.password"
                                   type="{{showPassword ? 'text' : 'password'}}" class="form-control myInput"
                                   id="password"
                                   placeholder="Password">

                            <div class="input-group-append">
                                <i class="fa fa-eye" (click)="showPassword = !showPassword" aria-hidden="true"
                                   *ngIf="!showPassword"></i>
                                <i class="fa fa-eye-slash" (click)="showPassword = !showPassword"
                                   aria-hidden="true" *ngIf="showPassword"></i>
                            </div>

                        </div>
                        <a class="link" routerLink="/forgot">{{ 'forgot.your.password' | translate }}</a>
                    </div>


                    <br>
                    <div class="contentSpaceActions">
                        <div>
                            <button class="max" mat-fab extended (click)="login()">
                                {{ 'sign.in' | translate }}
                            </button>
                        </div>
                        <div>
                            <button class="max" mat-fab extended (click)="register()">
                                {{ 'register' | translate }}
                            </button>
                            <br>
                            {{ 'login.dont.have.account' | translate }}
                        </div>

                    </div>
                </div>

                <div class="gap2Space">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>

