<ng-container>
    <mat-card class="dashboard-card">
        <mat-card-header>

            <div class="loginSpace">

                <div class="gap1Space">
                </div>

                <div class="contentSpace">
                    <h3 class="text-center"><b>Login</b></h3>

                    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
                    </div>

                </div>

                <div class="gap2Space">
                </div>
            </div>

        </mat-card-header>

        <mat-card-content>
            <div class="loginSpace">

                <div class="gap1Space">
                </div>

                <div class="contentSpace">
                    <div>
                        <label for="login" class="form-label">Email address</label>
                        <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login"
                               placeholder="name@example.com">
                        <br>
                    </div>
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password"
                               placeholder="Password">
                    </div>
                </div>

                <div class="gap2Space">
                </div>
            </div>
        </mat-card-content>

        <mat-card-footer>

            <div class="loginSpace">

                <div class="gap1Space">
                </div>

                <div class="contentSpaceActions">
                    <div>
                        <button mat-fab extended (click)="login()">
                            Sign in
                        </button>
                    </div>
                    <div>
                        Don't have an account?
                        <button mat-fab extended (click)="register()">
                            Register
                        </button>
                    </div>
                </div>
            </div>

            <div class="gap2Space">
            </div>
        </mat-card-footer>
    </mat-card>
</ng-container>

