@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.mytile{
  display: flex;
  flex-direction: row;
}

.main-tile {
  padding: 0;
  margin: 0;
  min-height: 50rem;
  background-color: $secondary-color;
}

.menu-tile {
  padding: 0;
  margin: 0;
  min-height: 50rem;
  background-color: $secondary-color;
  overflow-y: auto;
  border-bottom: $secondary-color solid 2px;
}



.createdBy{
  color: $secondary-color;
  //position: relative;
  //bottom:3rem;
  //background-color: darkred;
}
//.panel-tile {
//  padding: 0;
//  margin: 0;
//  background-color: $secondary-color;
//}
//.menu-tile {
//  padding: 0;
//  margin: 0;
//  background-color: $secondary-color;
//}
//.summer-tile {
//  padding: 0;
//  margin: 0;
//  background-color: $secondary-color;
//}

mat-grid-tile {
  transition: all 0.3s ease-in-out;
 //background-color: $primary-color;
  padding: 0;
  margin: 0;

}

.mat-grid-tile-content{
  // background-color: darkcyan;
  //  border-radius: 16px;
  padding: 0;
  margin: 0;
  // border: darkcyan solid 1px;
  //background-color: $secondary-color;
}

.content-panel-tile-right{
 // background-color: darkcyan;
//  border-radius: 16px;
  padding: 0;
  margin: 0;
 // border: darkcyan solid 1px;
  background-color: $secondary-color;
  min-height: 50rem;
}
.content-panel-tile-left{
 // background-color: darkcyan;
 // border-radius: 16px;
  padding: 0;
  margin: 0;
//  border: darkcyan solid 1px;
  background-color: $secondary-color;
  min-height: 50rem;
}

.mat-grid-tile.gap-tile{
  background-color: $secondary-color;
}
