
<div class="sidenav">
    <div class="logo-container">
        @if (!closedMenu) {
            <div [ngClass]="menuSide === Side.RIGHT ? 'menu-icon-close-right' : 'menu-icon-close-left' ">
                @if (menuSide === Side.RIGHT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display" fontSet="material-symbols-outlined">
                            arrow_menu_open
                        </mat-icon>
                    </button>
                }
                @if (menuSide === Side.LEFT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display" fontSet="material-symbols-outlined">
                            arrow_menu_close
                        </mat-icon>
                    </button>
                }
            </div>
        }
        @if (closedMenu) {
            <div class="menu-icon-menu">
                <button mat-button (click)="toggleCollapse()">
                    @if (menuSide === Side.RIGHT) {
                        <mat-icon class="icon-display">menu</mat-icon>
                    } @else {
                        <mat-icon iconPositionEnd class="icon-display">menu</mat-icon>
                    }
                </button>
            </div>
        }
    </div>

    <div>
        @for (panel of activeDetail?.menu?.panels; track panel.id; let i = $index) {
            @for (iso of panel.iso; track iso.iso) {
                @if (selectedIso === iso.iso) {
                    @if (panel.panelUrl === activeDetail?.panel?.panelUrl) {

                        <button mat-button="outlined" class="{{resolveActiveClass(i)}}">

                            <div class="menu-container">

                                @if (menuSide === Side.LEFT) {
                                    <div class="menu-icon">
                                        @if (panel.icon) {
                                            <mat-icon class="icon-display icon-active"> {{ panel.icon }}
                                            </mat-icon>
                                        } @else {
                                            <mat-icon class="icon-display icon-active">favorite</mat-icon>
                                        }
                                    </div>

                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            {{ iso.title }}
                                        }
                                    </div>
                                }

                                @if (menuSide === Side.RIGHT) {
                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            {{ iso.title }}
                                        }
                                    </div>
                                    <div class="menu-icon">
                                        @if (panel.icon) {
                                            <mat-icon class="icon-display icon-active">
                                                {{ panel.icon }}
                                            </mat-icon>
                                        } @else {
                                            <mat-icon class="icon-display icon-active">favorite</mat-icon>
                                        }
                                    </div>
                                }
                            </div>
                        </button>


                    } @else {

                        <button mat-button="outlined" class="{{resolveClass(i)}}"
                                (click)="goTo(activeDetail?.menu?.menuUrl, panel.panelUrl)">

                            <div class="menu-container">

                                @if (menuSide === Side.LEFT) {
                                    <div class="menu-icon">
                                        @if (panel.icon) {
                                            <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                        } @else {
                                            <mat-icon class="icon-display">favorite</mat-icon>
                                        }
                                    </div>
                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            {{ iso.title }}
                                        }
                                    </div>
                                }

                                @if (menuSide === Side.RIGHT) {

                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            {{ iso.title }}
                                        }
                                    </div>
                                    <div class="menu-icon">
                                        @if (panel.icon) {
                                            <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                        } @else {
                                            <mat-icon class="icon-display">favorite</mat-icon>
                                        }
                                    </div>
                                }

                            </div>

                        </button>

                    }
                }
            }
        }

        @if (header?.id
        && (roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase()))) {
            @if (disableAddingNewPanels) {
                <button mat-icon-button (click)="createPanelDetail(header, activeDetail)">
                    <mat-icon>add</mat-icon>
                </button>
            }
        }

    </div>

</div>
