<div>
    <div>
        @if (!closedMenu) {
            <div [ngClass]="menuSide === Side.RIGHT ? 'menu-icon-close-right' : 'menu-icon-close-left' ">
                @if (menuSide === Side.RIGHT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display-menu" fontSet="material-symbols-outlined">
                            arrow_menu_open
                        </mat-icon>
                    </button>
                }
                @if (menuSide === Side.LEFT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display-menu" fontSet="material-symbols-outlined">
                            arrow_menu_close
                        </mat-icon>
                    </button>
                }
            </div>
        }
        @if (closedMenu) {
            <div class="menu-icon-menu">
                <button mat-button (click)="toggleCollapse()">
                    @if (menuSide === Side.RIGHT) {
                        <mat-icon class="icon-display-menu">menu</mat-icon>
                    } @else {
                        <mat-icon iconPositionEnd class="icon-display-menu">menu</mat-icon>
                    }
                </button>
            </div>
        }
    </div>

    <div>
        @if (activeDetail?.topMenu?.type !== TopMenuType.MENU){

            @for (panel of activeDetail?.topMenu?.panels; track panel.id; let j = $index) {

                @for (iso of panel.iso; track iso.iso) {
                    @if (selectedIso === iso.iso) {
                        @if (panel.panelUrl === activeDetail?.sideMenu?.panelUrl) {

                            <div class="{{'zajednicko ' + resolveActiveClass(j)}}">

                                <div class="up-down-actions">
                                    @if ((roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase())) && calculateBeforeId(j,activeDetail?.topMenu)) {
                                        <button class="icon-display-side-menu" mat-mini-fab
                                                (click)="moveUp(panel, calculateBeforeId(j,activeDetail?.topMenu))">
                                            <mat-icon class="my-icon-side-menu">arrow_circle_up</mat-icon>
                                        </button>
                                    }

                                    @if ((roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase())) && calculateNextId(j,activeDetail?.topMenu)) {
                                        <button class="icon-display-side-menu" mat-mini-fab
                                                (click)="moveDown(panel,calculateNextId(j,activeDetail?.topMenu))">
                                            <mat-icon class="my-icon-side-menu">arrow_circle_down</mat-icon>
                                        </button>
                                    }


                                </div>

                                <div class="menu-container">

                                    @if (menuSide === Side.LEFT) {
                                        @if (panel.image) {

                                            <div class="image-desc">
                                                <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>
                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        <quill-view
                                                                class="my-quill-view-menu"
                                                                [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                format="html" theme="snow"></quill-view>
                                                    </div>
                                                }
                                            </div>
                                        } @else {

                                            @if (panel.icon) {
                                                <div class="menu-icon">
                                                    <mat-icon class="icon-display icon-active"> {{ panel.icon }}
                                                    </mat-icon>
                                                    @if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view
                                                                    class="my-quill-view-menu"
                                                                    [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                    format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }
                                                </div>
                                            } @else if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    <quill-view [content]="iso.title" format="html"
                                                                class="my-quill-view-menu"
                                                                theme="snow"></quill-view>
                                                </div>
                                            }

                                        }

                                        <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                            @if (!closedMenu) {
                                                <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                            format="html"
                                                            theme="snow"></quill-view>
                                            }
                                        </div>
                                    }

                                    @if (menuSide === Side.RIGHT) {

                                        @if (panel.image) {
                                            <div class="image-desc">
                                                <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        <quill-view class="my-quill-view-menu"
                                                                    [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                    format="html" theme="snow"></quill-view>
                                                    </div>
                                                }

                                            </div>

                                        } @else {

                                            @if (panel.icon) {
                                                <div class="menu-icon">
                                                    <mat-icon class="icon-display icon-active"> {{ panel.icon }}
                                                    </mat-icon>
                                                    @if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view class="my-quill-view-menu"
                                                                        [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }
                                                </div>
                                            } @else if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                class="my-quill-view-menu"
                                                                format="html" theme="snow"></quill-view>
                                                </div>
                                            }

                                        }

                                        <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                            @if (!closedMenu) {
                                                <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                            format="html"
                                                            theme="snow"></quill-view>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        } @else {

                            <div class="{{'zajednicko ' + resolveClass(j)}}"
                                 (click)="goTo(activeDetail?.topMenu?.menuUrl, panel.panelUrl)">

                                <div class="menu-container">

                                    @if (menuSide === Side.LEFT) {
                                        @if (panel.image) {
                                            <div class="image-desc">
                                                <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        <quill-view
                                                                class="my-quill-view-menu"
                                                                [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                format="html" theme="snow"></quill-view>
                                                    </div>
                                                }
                                            </div>
                                        } @else {

                                            @if (panel.icon) {
                                                <div class="menu-icon">
                                                    <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                    @if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view
                                                                    class="my-quill-view-menu"
                                                                    [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                    format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }
                                                </div>
                                            } @else if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                class="my-quill-view-menu"
                                                                format="html" theme="snow"></quill-view>
                                                </div>
                                            }

                                        }

                                        <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                            @if (!closedMenu) {
                                                <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                            format="html"
                                                            theme="snow"></quill-view>
                                            }
                                        </div>
                                    }

                                    @if (menuSide === Side.RIGHT) {

                                        @if (panel.image) {
                                            <div class="image-desc">
                                                <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                @if (closedMenu) {
                                                    <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                class="my-quill-view-menu"
                                                                format="html" theme="snow"></quill-view>
                                                }
                                            </div>
                                        } @else {

                                            @if (panel.icon) {
                                                <div class="menu-icon">
                                                    <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                    @if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view
                                                                    class="my-quill-view-menu"
                                                                    [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                    format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }
                                                </div>
                                            } @else if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                class="my-quill-view-menu"
                                                                format="html" theme="snow"></quill-view>
                                                </div>
                                            }
                                        }

                                        <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                            @if (!closedMenu) {
                                                <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                            format="html"
                                                            theme="snow"></quill-view>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            }

        } @else {

            @for (menu of header?.menus; track menu.id; let j = $index) {

                @if (menu.id === activeDetail?.topMenu?.id) {

                    @for (panel of menu.panels; track panel.id; let i = $index) {
                        @for (iso of panel.iso; track iso.iso) {
                            @if (selectedIso === iso.iso) {
                                @if (panel.panelUrl === activeDetail?.sideMenu?.panelUrl) {
                                    <div class="{{'zajednicko ' + resolveActiveClass(i)}}">

                                        <div class="up-down-actions">
                                            @if ((roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase())) && calculateBeforeId(i, menu)) {
                                                <button class="icon-display-side-menu" mat-mini-fab
                                                        (click)="moveUp(panel, calculateBeforeId(i,menu))">
                                                    <mat-icon class="my-icon-side-menu">arrow_circle_up</mat-icon>
                                                </button>
                                            }

                                            @if ((roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase())) && calculateNextId(i, menu)) {
                                                <button class="icon-display-side-menu" mat-mini-fab
                                                        (click)="moveDown(panel,calculateNextId(i,menu))">
                                                    <mat-icon class="my-icon-side-menu">arrow_circle_down</mat-icon>
                                                </button>
                                            }


                                        </div>

                                        <div class="menu-container">

                                            @if (menuSide === Side.LEFT) {
                                                @if (panel.image) {

                                                    <div class="image-desc">
                                                        <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>
                                                        @if (closedMenu) {
                                                            <div class="menu-title-text-closed">
                                                                <quill-view
                                                                        class="my-quill-view-menu"
                                                                        [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        format="html" theme="snow"></quill-view>
                                                            </div>
                                                        }
                                                    </div>
                                                } @else {

                                                    @if (panel.icon) {
                                                        <div class="menu-icon">
                                                            <mat-icon class="icon-display icon-active"> {{ panel.icon }}
                                                            </mat-icon>
                                                            @if (closedMenu) {
                                                                <div class="menu-title-text-closed">
                                                                    <quill-view
                                                                            class="my-quill-view-menu"
                                                                            [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                            format="html" theme="snow"></quill-view>
                                                                </div>
                                                            }
                                                        </div>
                                                    } @else if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view [content]="iso.title" format="html"
                                                                        class="my-quill-view-menu"
                                                                        theme="snow"></quill-view>
                                                        </div>
                                                    }

                                                }

                                                <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                                    @if (!closedMenu) {
                                                        <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                                    format="html"
                                                                    theme="snow"></quill-view>
                                                    }
                                                </div>
                                            }

                                            @if (menuSide === Side.RIGHT) {

                                                @if (panel.image) {
                                                    <div class="image-desc">
                                                        <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                        @if (closedMenu) {
                                                            <div class="menu-title-text-closed">
                                                                <quill-view class="my-quill-view-menu"
                                                                            [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                            format="html" theme="snow"></quill-view>
                                                            </div>
                                                        }

                                                    </div>

                                                } @else {

                                                    @if (panel.icon) {
                                                        <div class="menu-icon">
                                                            <mat-icon class="icon-display icon-active"> {{ panel.icon }}
                                                            </mat-icon>
                                                            @if (closedMenu) {
                                                                <div class="menu-title-text-closed">
                                                                    <quill-view class="my-quill-view-menu"
                                                                                [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                                format="html" theme="snow"></quill-view>
                                                                </div>
                                                            }
                                                        </div>
                                                    } @else if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        class="my-quill-view-menu"
                                                                        format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }

                                                }

                                                <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                                    @if (!closedMenu) {
                                                        <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                                    format="html"
                                                                    theme="snow"></quill-view>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>

                                } @else {

                                    <div class="{{'zajednicko ' + resolveClass(i)}}"
                                         (click)="goTo(activeDetail?.topMenu?.menuUrl, panel.panelUrl)">

                                        <div class="menu-container">

                                            @if (menuSide === Side.LEFT) {
                                                @if (panel.image) {
                                                    <div class="image-desc">
                                                        <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                        @if (closedMenu) {
                                                            <div class="menu-title-text-closed">
                                                                <quill-view
                                                                        class="my-quill-view-menu"
                                                                        [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        format="html" theme="snow"></quill-view>
                                                            </div>
                                                        }
                                                    </div>
                                                } @else {

                                                    @if (panel.icon) {
                                                        <div class="menu-icon">
                                                            <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                            @if (closedMenu) {
                                                                <div class="menu-title-text-closed">
                                                                    <quill-view
                                                                            class="my-quill-view-menu"
                                                                            [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                            format="html" theme="snow"></quill-view>
                                                                </div>
                                                            }
                                                        </div>
                                                    } @else if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        class="my-quill-view-menu"
                                                                        format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }

                                                }

                                                <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                                    @if (!closedMenu) {
                                                        <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                                    format="html"
                                                                    theme="snow"></quill-view>
                                                    }
                                                </div>
                                            }

                                            @if (menuSide === Side.RIGHT) {

                                                @if (panel.image) {
                                                    <div class="image-desc">
                                                        <img src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                                        @if (closedMenu) {
                                                            <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        class="my-quill-view-menu"
                                                                        format="html" theme="snow"></quill-view>
                                                        }
                                                    </div>
                                                } @else {

                                                    @if (panel.icon) {
                                                        <div class="menu-icon">
                                                            <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                            @if (closedMenu) {
                                                                <div class="menu-title-text-closed">
                                                                    <quill-view
                                                                            class="my-quill-view-menu"
                                                                            [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                            format="html" theme="snow"></quill-view>
                                                                </div>
                                                            }
                                                        </div>
                                                    } @else if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            <quill-view [content]="getSideMenuLabelWhenClosed(iso.title)"
                                                                        class="my-quill-view-menu"
                                                                        format="html" theme="snow"></quill-view>
                                                        </div>
                                                    }
                                                }

                                                <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                                    @if (!closedMenu) {
                                                        <quill-view [content]="getSideMenuLabel(iso.title, iso.description)"
                                                                    format="html"
                                                                    theme="snow"></quill-view>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            }
        }

        @if (header?.main?.id
        && (roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase()))) {
            @if (disableAddingNewPanels) {
                <button mat-icon-button (click)="createPanelDetail(header, activeDetail)">
                    <mat-icon class="text-text">add</mat-icon>
                </button>
            }
        }

    </div>

</div>
