@use '@angular/material' as mat;

$primary-color: var(--secondary-color);
$secondary-color: var(--primary-color);
$corner-radius: var(--corner-radius);
$justify-menu: var(--justify-menu);
$justify-icon-close: var(--justify-icon-close);
$sidenav-margin-left: var(--sidenav-margin-left);
$sidenav-margin-right: var(--sidenav-margin-right);
$mim-padding-right: var(--mim-padding-right);
$mim-padding-left: var(--mim-padding-left);
$activeMenuLinkBorderRadius: var(--active-menu-link-border-radius);
$paddingTop: var(--padding-top);
$fontFamilySideMenuTitle: var(--fontFamilySideMenuTitle);
$fontFamilySideMenuDescription: var(--fontFamilySideMenuDescription);

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  //scrollbar-color: $secondary-color $primary-color;
  @include mat.card-overrides((
          elevated-container-shape: $corner-radius,
  ));
}

.dashboard-card-header {
  //padding: 10px;
}

.dashboard-card-content {
  //text-align: center;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin-bottom: 5px;
  overflow-y: auto;
}

:host {
  width: 100%;
  height: inherit;
  // background-color: $primary-color;
  padding: 0;
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
  overflow-y: auto;
}

.icon-display {
  margin-top: 0.5rem;
  transform: scale(4);
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.icon-display-menu {
  transform: scale(2);
}

.icon-display:hover {
  transform: scale(3.3);
  transition: all 300ms;
}

.icon-active {
  color: $primary-color,
}


.menu-icon-menu {
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  // padding: 1.5rem;
  //  padding-right: 1.5rem
  //padding-right: $mim-padding-right;
  //padding-left: $mim-padding-left;
}


.menu-icon-close-left {
  padding: 0;
  margin: 0;
  justify-self: end;
}

.menu-icon-close-right {
  padding: 0;
  margin: 0;
  justify-self: start;
}


.menu-container {
  display: flex;
  flex-direction: row;
  justify-self: $justify-menu;
  //justify-self: right;
  align-items: center;

  //when is closed menu "center", open: "left"
  //justify-content: start;
  //justify-items: start;
  //justify-self: start;
  //min-height: 6rem;
}

.menu-text {
  display: flex;
  flex-direction: column;

  //align-self: center;
  //padding: 0.5rem;
}


.menu-title-text {
  // font-weight: bolder;
  // transition: all 300ms;
  font-family: $fontFamilySideMenuTitle;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 2rem;
}

.menu-title-text-closed {
  //  padding-bottom: 1rem;
  //  margin-bottom:1rem;
  // font-weight: bolder;
  // transition: all 300ms;
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  //margin-bottom: 0.3rem;
  font-size: 1.2rem;
  // width: 7.5rem;
  font-family: $fontFamilySideMenuTitle;
}

.menu-description-text {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 0.5rem;
  font-family: $fontFamilySideMenuDescription;
}

.image-desc {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: 7.5rem;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  width: 7.5rem;
}

.linkic-first.mat-mdc-button-base:hover {
  // font-size: 2.1rem;
}

.linkic.mat-mdc-button-base:hover {
  // font-size: 2.1rem;
}

.linkic-active-first.mat-mdc-button-base:hover {
  // font-size: 2.1rem;
}

.linkic-active.mat-mdc-button-base:hover {
  //font-size: 2.1rem;
}


img {
  display: block;
  // max-height: 10rem;
  // min-height: 6rem;
  max-width: 7.5rem;
  //min-height: 6rem;
  //width: 9rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;

}

.zajednicko {
  width: 100%;
  display: block;
  // font-size: 2rem;
  //margin-bottom: 1rem;
  overflow: auto;
  //  max-height: 11rem;
  min-height: 6rem;
  padding-top: $paddingTop;
  align-content: center;
}

.linkic-first {
  background-color: $primary-color;
  color: $secondary-color;
}

.linkic-active-first {
  background-color: $secondary-color;
  color: $primary-color;
}

.linkic-active {
  background-color: $secondary-color;
  color: $primary-color;
}

.linkic {
  background-color: $primary-color;
  color: $secondary-color;
}
