@use '@angular/material' as mat;

$primary-color: var(--secondary-color);
$secondary-color: var(--primary-color);
$corner-radius: var(--corner-radius);
$justify-menu: var(--justify-menu);
$justify-icon-close: var(--justify-icon-close);
$sidenav-margin-left: var(--sidenav-margin-left);
$sidenav-margin-right: var(--sidenav-margin-right);
$mim-padding-right: var(--mim-padding-right);
$mim-padding-left: var(--mim-padding-left);
$activeMenuLinkBorderRadius: var(--active-menu-link-border-radius);
$paddingTop: var(--padding-top);

:host {
  width: 100%;
  padding: 0;
  overflow-y: auto;
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
}

menu {
  display: block;
  list-style-type: disc;
  padding-inline-start: 0;
  unicode-bidi: isolate;
  padding: 0;
  margin: 0;
  width: 100%;
}

.up-down-actions{
  display: flex;
  justify-content: space-between;
}
.icon-display-side-menu {
  color: $secondary-color !important;
  background-color: $primary-color !important;
  .my-icon-side-menu{
    transform: scale(1.3);
    color: $secondary-color;
  }
}

.icon-display-side-menu:hover {
  //background-color: $secondary-color;
  .my-icon-side-menu{
    transform: scale(1.5);
  //  color: $primary-color;
  }
}
.mat-grid-tile-content{
  padding: 0;
  margin: 0;
  align-items: start;
}
.icon-display {
  margin-top: 0.5rem;
  transform: scale(3.5);
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.icon-display-menu {
  transform: scale(2);
  color: $secondary-color !important;
}

.icon-display:hover {
  transform: scale(3.3);
  transition: all 300ms;
}

.icon-active {
  color: $primary-color,
}

.menu-icon-menu {
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}


.menu-icon-close-left {
  padding: 0;
  margin: 0;
  justify-self: end;
}

.menu-icon-close-right {
  padding: 0;
  margin: 0;
  justify-self: start;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-self: $justify-menu;
  align-items: center;
}

.menu-text {
  display: flex;
  flex-direction: column;
}

.menu-container:hover {
  font-weight: bolder;
}

.menu-title-text-closed {
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  //.ql-editor{
  //  padding: 5px;
  //}
  .my-quill-view-menu{
    .ql-editor{
      line-height: 1.2 !important;
      overflow-y: inherit !important;
    }
  }
}

.image-desc {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: 10rem;

  img {
    display: block;
    max-width: 10rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }
}

.menu-icon {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  width: 7.5rem;
  margin-top:1rem;
}

.linkic-first:hover {
    cursor: pointer;
}

.linkic:hover {
    cursor: pointer;
}

.linkic-active-first:hover {
    cursor: pointer;
}

.linkic-active:hover {
    cursor: pointer;
}

.zajednicko {
  width: 100%;
  display: block;
  overflow: auto;
  min-height: 6rem;
  padding-top: $paddingTop;
  align-content: center;
}

.linkic-first {
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
}

.linkic-active-first {
  background-color: $secondary-color;
  color: $primary-color;
  cursor: pointer;
}

.linkic-active {
  background-color: $secondary-color;
  color: $primary-color;
  cursor: pointer;
}

.linkic {
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
}
