
<div class="sidenav">
    <div class="logo-container">
        @if (!closedMenu) {
            <div [ngClass]="menuSide === Side.RIGHT ? 'menu-icon-close-right' : 'menu-icon-close-left' ">
                @if (menuSide === Side.RIGHT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display-menu" fontSet="material-symbols-outlined">
                            arrow_menu_open
                        </mat-icon>
                    </button>
                }
                @if (menuSide === Side.LEFT) {
                    <button mat-button (click)="closeSidenav()">
                        <mat-icon iconPositionEnd class="icon-display-menu" fontSet="material-symbols-outlined">
                            arrow_menu_close
                        </mat-icon>
                    </button>
                }
            </div>
        }
        @if (closedMenu) {
            <div class="menu-icon-menu">
                <button mat-button (click)="toggleCollapse()">
                    @if (menuSide === Side.RIGHT) {
                        <mat-icon class="icon-display-menu">menu</mat-icon>
                    } @else {
                        <mat-icon iconPositionEnd class="icon-display-menu">menu</mat-icon>
                    }
                </button>
            </div>
        }
    </div>

    <div>
        @for (panel of activeDetail?.topMenu?.panels; track panel.id; let i = $index) {
            @for (iso of panel.iso; track iso.iso) {
                @if (selectedIso === iso.iso) {
                    @if (panel.panelUrl === activeDetail?.sideMenu?.panelUrl) {

                        <div class="{{'zajednicko ' + resolveActiveClass(i)}}">

                            <div class="menu-container">

                                @if (menuSide === Side.LEFT) {

                                    @if (panel.image) {

                                        <div class="image-desc">
                                            <img  src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>
                                            @if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    {{ iso.title }}
                                                </div>
                                            }
                                        </div>
                                    } @else {

                                        @if (panel.icon) {
                                            <div class="menu-icon">
                                                <mat-icon class="icon-display icon-active"> {{ panel.icon }}</mat-icon>
                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        {{ iso.title }}
                                                    </div>
                                                }
                                            </div>
                                        } @else if (closedMenu) {
                                            <div class="menu-title-text-closed">
                                                {{ iso.title }}
                                            </div>
                                        }

                                    }


                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">

                                            @if (!closedMenu) {
                                                <div class="menu-title-text">
                                                        {{ iso.title }}
                                                </div>
                                                <div class="menu-description-text">
                                                        {{ iso.description }}
                                                </div>
                                            }

                                    </div>
                                }

                                @if (menuSide === Side.RIGHT) {

                                    @if (panel.image) {
                                        <div class="image-desc">
                                            <img  src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                            @if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    {{ iso.title }}
                                                </div>
                                            }

                                        </div>

                                    } @else {

                                        @if (panel.icon) {
                                            <div class="menu-icon">
                                                <mat-icon class="icon-display icon-active"> {{ panel.icon }}</mat-icon>
                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        {{ iso.title }}
                                                    </div>
                                                }
                                            </div>
                                        } @else if (closedMenu) {
                                            <div class="menu-title-text-closed">
                                                {{ iso.title }}xxx
                                            </div>
                                        }

                                    }

                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            <div class="menu-title-text">
                                                {{ iso.title }}
                                            </div>
                                            <div class="menu-description-text">
                                                {{ iso.description }}
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>


                    } @else {

                        <div class="{{'zajednicko ' + resolveClass(i)}}"
                                (click)="goTo(activeDetail?.topMenu?.menuUrl, panel.panelUrl)">

                            <div class="menu-container">

                                @if (menuSide === Side.LEFT) {

                                    @if (panel.image) {
                                        <div class="image-desc">
                                            <img  src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                            @if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    {{ iso.title }}
                                                </div>
                                            }
                                        </div>
                                    } @else {

                                            @if (panel.icon) {
                                                <div class="menu-icon">
                                                  <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                    @if (closedMenu) {
                                                        <div class="menu-title-text-closed">
                                                            {{ iso.title }}
                                                        </div>
                                                    }
                                                </div>
                                            } @else if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    {{ iso.title }}
                                                </div>
                                            }

                                    }

                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            <div class="menu-title-text">
                                                {{ iso.title }}
                                            </div>
                                            <div class="menu-description-text">
                                                {{ iso.description }}
                                            </div>
                                        }
                                    </div>
                                }

                                @if (menuSide === Side.RIGHT) {

                                    @if (panel.image) {
                                        <div class="image-desc">
                                            <img  src="{{'data:image/jpg;base64,' + panel.image}}" alt=""/>

                                            @if (closedMenu) {
                                                <div class="menu-title-text-closed">
                                                    {{ iso.title }}
                                                </div>
                                            }
                                        </div>
                                    } @else {

                                        @if (panel.icon) {
                                            <div class="menu-icon">
                                                <mat-icon class="icon-display"> {{ panel.icon }}</mat-icon>
                                                @if (closedMenu) {
                                                    <div class="menu-title-text-closed">
                                                        {{ iso.title }}
                                                    </div>
                                                }
                                            </div>
                                        } @else if (closedMenu) {
                                            <div class="menu-title-text-closed">
                                                {{ iso.title }}
                                            </div>
                                        }
                                    }

                                    <div class="menu-text" [@fadeInOut]="closedMenu ? 'close' : 'open'">
                                        @if (!closedMenu) {
                                            <div class="menu-title-text">
                                                {{ iso.title }}
                                            </div>
                                            <div class="menu-description-text">
                                                {{ iso.description }}
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        }

        @if (header?.main?.id
        && (roles?.includes(Roles.ADMIN.toUpperCase()) || roles?.includes(Roles.MANAGER.toUpperCase()))) {
            @if (disableAddingNewPanels) {
                <button mat-icon-button (click)="createPanelDetail(header, activeDetail)">
                    <mat-icon>add</mat-icon>
                </button>
            }
        }

    </div>

</div>
