<ng-container>

    <mat-card class="dashboard-card">
        <mat-card-header>

            <!--            <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>-->

            @if (isAdmin || isManager) {
                <!-- if admin/manager -->
                <div class="header-actions">

                    <div class="grb">
                        <div class="grb-crveno"></div>
                        <div class="grb-bijelo"></div>
                        <div class="grb-bijelo"></div>
                        <div class="grb-crveno"></div>
                    </div>

                    <mat-chip-listbox (change)="fillBackground($event, activeDetail)">
                        <mat-chip-option [selected]="activeDetail?.backgroundColorOn">
                            <mat-icon>format_color_fill</mat-icon>
                        </mat-chip-option>
                    </mat-chip-listbox>

                    <button mat-flat-button [matMenuTriggerFor]="menu">
                        <mat-icon>auto_awesome_mosaic</mat-icon>
                        {{ "summer.layout" | translate }}
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="actionButtons">

                            @if (activeDetail?.menu?.side === Side.LEFT) {
                                <button mat-flat-button (click)="addToRightMenuPanel(activeDetail)">
                                    <mat-icon>view_sidebar</mat-icon>
                                    {{ "summer.add.menu.to.right" | translate }}
                                </button>
                            } @else {
                                <button mat-flat-button (click)="addToLeftMenuPanel(activeDetail)">
                                    <mat-icon style="transform: rotate(180deg)">view_sidebar</mat-icon>
                                    {{ "summer.add.menu.to.left" | translate }}
                                </button>
                            }

                            @if (activeDetail?.menu?.layout === Layout.CENTER) {
                                <button mat-flat-button (click)="fullScreen(activeDetail)">
                                    <mat-icon style="transform: rotate(90deg)">expand</mat-icon>
                                    {{ "summer.full.screen" | translate }}

                                </button>
                            } @else {
                                <button mat-flat-button (click)="center(activeDetail)">
                                    <mat-icon style="transform: rotate(90deg)">compress</mat-icon>
                                    {{ "summer.center" | translate }}
                                </button>
                            }

                            @if (activeDetail?.menu?.panelOn) {
                                <button mat-flat-button (click)="panelOff(activeDetail)">
                                    <i class="fa fa-columns" aria-hidden="true"></i>
                                    {{ "summer.panel.off" | translate }}

                                </button>
                            } @else {
                                <button mat-flat-button (click)="panelOn(activeDetail)">
                                    <i class="fa fa-columns" aria-hidden="true"></i>
                                    {{ "summer.panel.on" | translate }}
                                </button>
                            }
                        </div>
                    </mat-menu>


                    <button mat-flat-button [matMenuTriggerFor]="menuColumns">
                        <i class="fa-solid fa-table-cells"></i>
                        {{ "summer.columns" | translate }}
                    </button>
                    <mat-menu #menuColumns="matMenu">
                        <mat-button-toggle-group hideSingleSelectionIndicator="true"
                                                 [value]="activeDetail?.columns"
                                                 (change)="onChangeColumns($event,activeDetail)">
                            <mat-button-toggle [value]="1">1</mat-button-toggle>
                            <mat-button-toggle [value]="2">2</mat-button-toggle>
                            <mat-button-toggle [value]="3">3</mat-button-toggle>
                            <mat-button-toggle [value]="4">4</mat-button-toggle>
                            <mat-button-toggle [value]="5">5</mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-menu>


                    <div class="button-container">
                        <button mat-flat-button (click)="createNewItem(activeDetail, header?.colors)">
                            <mat-icon>add_circle</mat-icon>
                            {{ "summer.new.item" | translate }}
                        </button>
                    </div>
                    <div class="button-container">
                        <button mat-flat-button (click)="updateDetail(header, activeDetail)">
                            <mat-icon>update</mat-icon>
                            {{ "title.and.icons" | translate }}
                        </button>
                    </div>
                    <div class="button-container">
                        <button [disabled]="onlyOne(header?.menus)" mat-flat-button
                                (click)="deleteDetail(activeDetail)">
                            <mat-icon>delete</mat-icon>
                            {{ "delete.page" | translate }}
                        </button>
                    </div>

                </div>
            }
            <div class="header-title">
                <div class="container">
                    <div class="content">
                        <div class="editor">
                            <ngx-editor [editor]="editor"
                                        [ngModel]="getTitle(selectedIso, activeDetail?.iso)"
                                        [disabled]="true"
                                        [placeholder]="''"
                            >
                            </ngx-editor>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-header>


        @if (activeDetail?.items) {
            <mat-card-content
                    cdkDropList
                    [cdkDropListDisabled]="false"
                    [cdkDropListData]="activeDetail!.items"
                    (cdkDropListDropped)="drop($event)"
            >
                @for (data of activeDetail?.items; track data.id) {

                    @if (activeDetail && activeDetail?.iso) {
                        <widget [loggedIn]="loggedIn" [selectedIso]="selectedIso" [columns]="activeDetail.columns"
                                cdkDrag
                                [data]="transformItemToWidget(activeDetail, data, header?.colors)"></widget>
                    }
                }
            </mat-card-content>
        }
    </mat-card>
</ng-container>
