@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$corner-radius: var(--corner-radius);
$left: var(--left-padding);
$right: var(--right-padding);
$background-color: var(--background-color);
$actions-border-color: var(--actions-border-color);
$bgColorMenu: var(--bg-color-menu);
$colorMenu: var(--color-menu);

:host {
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
}
//.cdk-drop-list-dragging{
//  opacity: 0.5;
//}

.cdk-drag-preview{
  box-shadow: 0 0 15px 3px $secondary-color;
  z-index: 5;
 // opacity: 0.5;
}
.cdk-drag-placeholder{
  color: white;
  padding: 0.5rem 0.7rem;
  box-shadow: 0 0 15px 3px $secondary-color;
 // opacity: 0.5;
}

mat-slide-toggle {
  margin: 8px 0;
  display: block;
  font-weight: normal;
}

.dashboard-card-summer {
  position: absolute !important;
  top: 1px !important;

  //left: $left;
  //right: $right;
  left: 0 !important;
  right: 0 !important;
  bottom: 10px !important;

  background-color: $background-color !important;
  border: 2px solid $primary-color !important;
  overflow-y: auto !important;
  //scrollbar-color: $secondary-color $primary-color;
  @include mat.card-overrides((
          elevated-container-shape: $corner-radius
  ));




}

.dashboard-card-summer mat-card-content {
  padding-top: 0.5rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  // grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.dashboard-card-summer mat-card-footer {
  position: relative;
  top: 1px;
  //background-color: darkred;
}

.mat-mdc-card-header {
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: start;
}

.header-actions-summer{
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  padding-left: 1.5rem;
  border-bottom: solid 2px $actions-border-color;
  width: 100%;
}

.header-title{
  display: flex;
  flex-direction: row;
}

.container {
  justify-content: left;
  justify-items: left;
  justify-self: left;
  align-items: start;
  align-content: start;
  align-self: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: start;
  // justify-content: left;
  font-size: large;
}


.button-container {
  padding: 2px;
}

.grb {
  align-items: center;
  color: $primary-color;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 20px);
  grid-template-rows: repeat(2, 20px);
}

.grb-crveno {
  width: 20px;
  height: 20px;
  background-color: $secondary-color;
}

.grb-bijelo {
  width: 20px;
  height: 20px;
  background-color: $primary-color;
}


.content {
  width: 100%;
  line-height: 30px;
  justify-content: left;
  justify-items: left;
  justify-self: left;
  align-items: start;
  align-content: start;
  align-self: start;
}

.editor {
  .NgxEditor {
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}


.mat-mdc-button-base {
  margin: 8px 8px 8px 8px;
  color: $secondary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--primary-color), 0px 0px 3px 1px var(--primary-color), 0px 0px 2px 1px var(--primary-color);
  --mdc-protected-button-container-color: $secondary-color;

  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $primary-color;
  border: 2px solid $secondary-color;
}


.mat-mdc-unelevated-button {
  background-color: $primary-color ;
  color: $secondary-color;
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
  justify-content: left;
}
.mat-mdc-unelevated-button:hover {
  background-color: $secondary-color;
  color: $primary-color;
  @include mat.icon-overrides((
          color: $primary-color,
  ));
  justify-content: left;
}

.mat-mdc-extended-fab:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.menu-container-list {
  background-color: $secondary-color;
  //color: $secondary-color;
  margin-top: 0.5rem;
  //.ql-editor {
  //  color: $primary-color;
  //  border: $primary-color 1px solid;
  //}
}

.mat-mdc-extended-fab {
  background-color: $secondary-color;
  color: $primary-color;
}

.mat-mdc-mini-fab {
  background-color: $primary-color;
  color: $secondary-color;

}



//.mat-menu-summer{
//  width: 30rem !important;
//}
.mat-mdc-menu-panel{
  width: 30rem !important;
  max-width: 30rem !important;
}
//.mat-mdc-menu-content{
//  width: 30rem !important;
//}
.actionButtons-summer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
 // width: 30rem;
}


.mat-mdc-standard-chip.mdc-evolution-chip__text-label{
  color: $secondary-color;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
  background-color: $primary-color;
  --mdc-chip-selected-label-text-color:  var(--secondary-color);
  --mdc-chip-with-icon-selected-icon-color:  var(--secondary-color);
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: $primary-color;
  --mdc-chip-selected-label-text-color:  var(--secondary-color);
  --mdc-chip-with-icon-selected-icon-color:  var(--secondary-color);
  --mdc-chip-label-text-color: var(--secondary-color);
  --mdc-chip-label-text-weight: large;
}
//https://www.fusonic.net/en/blog/angular-material-customization

.make-space{
  height: 1rem;
}
.menu-container-summer{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: left;
  height: 6rem;
  border-radius: 10px;
  border-top: solid 2px $primary-color;
  border-right: solid 2px $primary-color;
  border-bottom: solid 2px $primary-color;
  border-left: solid 2px $primary-color;
  width: 100%;

  background-color: $bgColorMenu;
  color: $colorMenu;

  img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    max-height: 6rem;
    //max-width: 3rem;
  }


  .menu-icon{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    width: 7.5rem;
    margin-top:1rem;
  }

  .icon-display {
    transform: scale(2.6);
    //margin-top: 0.8rem;
    margin-bottom: 0.7rem;
    //margin-right: 0.8rem;
    //margin-left: 0.8rem;
    color: $colorMenu;
  }

  .icon-display:hover {
    transform: scale(2.5);
    transition: all 300ms;
  }

}

.menu-container-summer-top{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: left;
  height: 6rem;
  border-radius: 10px;
  width: 100%;

  margin-bottom: 1rem;
  background-color: $colorMenu;
  color: $bgColorMenu;

  img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    max-height: 6rem;
    //max-width: 3rem;
  }


  .menu-icon{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    width: 7.5rem;
    margin-top:1rem;
  }

  .icon-display {
    transform: scale(2.6);
    //margin-top: 0.8rem;
    margin-bottom: 0.7rem;
    //margin-right: 0.8rem;
    //margin-left: 0.8rem;
    color: $bgColorMenu;
  }

  .icon-display:hover {
    transform: scale(2.5);
    transition: all 300ms;
  }

}



.menu-container-list{
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: left;
  height: 6rem;
  border-radius: 10px;
  border-top: solid 2px $primary-color;
  border-right: solid 2px $primary-color;
  border-bottom: solid 2px $primary-color;
  border-left: solid 2px $primary-color;

  img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    max-height: 6rem;
  }

  .menu-text{
    color: $primary-color;
    height: 6rem;
    align-content: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    min-width: 6rem;
    margin-top:1rem;
    height: 6rem;
  }

  .icon-display {
    transform: scale(2.6);
    //margin-top: 0.8rem;
    margin-bottom: 0.7rem;
    //margin-right: 0.8rem;
    //margin-left: 0.8rem;
    color: $primary-color;
  }

  .icon-display:hover {
    transform: scale(2.5);
    transition: all 300ms;
  }

  //
  //.list-drag {
  // // width: 500px;
  // // max-width: 100%;
  // // border: solid 1px #ccc;
  // // min-height: 60px;
  // // display: block;
  // // background: white;
  // // border-radius: 4px;
  // // overflow: hidden;
  //
  //
  //
  //
  // // padding-top: 0.5rem;
  // // text-align: left;
  // // display: grid;
  // // grid-template-columns: repeat(var(--grid-col), 1fr);
  // // // grid-template-columns: repeat(1, 1fr);
  // // gap: 16px;
  //
  //}
  //
  //.box-drag {
  //  //padding: 20px 10px;
  //  //border-bottom: solid 1px #ccc;
  //  //color: rgba(0, 0, 0, 0.87);
  //  //display: flex;
  //  //flex-direction: row;
  //  //align-items: center;
  //  //justify-content: space-between;
  //  //box-sizing: border-box;
  //  //cursor: move;
  //  //background: white;
  //  //font-size: 14px;
  //}
  //
  //.cdk-drag-preview {
  //  box-sizing: border-box;
  //  border-radius: 4px;
  //  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  //}
  //
  //.cdk-drag-placeholder {
  //  opacity: 0;
  //}
  //
  //.cdk-drag-animating {
  //  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  //}
  //
  //.box-drag:last-child {
  //  border: none;
  //}
  //
  //.list-drag.cdk-drop-list-dragging .box-drag:not(.cdk-drag-placeholder) {
  //  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  //}

}
