@use '@angular/material' as mat;

$corner-radius: var(--corner-radius);
$left: var(--left-padding);
$right: var(--right-padding);
$background-color: var(--background-color);
$actions-border-color: var(--actions-border-color);
$direction: var(--direction);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$warn-color: var(--warn-color);
$info-color: var(--info-color);
$accept-color: var(--accept-color);
$activeBgColor: var(--active-bg-color);

:host {
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
  @include mat.expansion-overrides((
          actions-divider-color: orange,
    // container-background-color: red,
          container-text-color:black,

  ));
}

.columns-text{
  font-weight: bolder;
  color: $secondary-color;
}


mat-slide-toggle {
  margin: 8px 0;
  display: block;
  font-weight: normal;
}

.mat-mdc-card-header {
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: start;
}

.header-actions{
  display: flex;
  flex-direction: $direction;
  width: 100%;
}

.header-title{
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 2px;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 8px;
  color: $secondary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--primary-color), 0px 0px 3px 1px var(--primary-color), 0px 0px 2px 1px var(--primary-color);
  --mdc-protected-button-container-color: $secondary-color;

  --mdc-extended-fab-pressed-container-elevation-shadow: none;
  --mdc-filled-button-container-color: $primary-color;
  border: 2px solid $secondary-color;
}

.mat-mdc-unelevated-button {
  background-color: $primary-color ;
  color: $secondary-color;
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
  justify-content: left;
}
.mat-mdc-unelevated-button:hover {
  background-color: $secondary-color;
  color: $primary-color;
  @include mat.icon-overrides((
          color: $primary-color,
  ));
  justify-content: left;
}

.mat-mdc-extended-fab:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.mat-mdc-extended-fab {
  background-color: $secondary-color;
  color: $primary-color;
}

.mat-mdc-mini-fab {
  background-color: $primary-color;
  color: $secondary-color;

}
.actionButtons-page{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}


.mat-mdc-standard-chip.mdc-evolution-chip__text-label{
  color: $secondary-color;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
  background-color: $primary-color;
  --mdc-chip-selected-label-text-color:  var(--secondary-color);
  --mdc-chip-with-icon-selected-icon-color:  var(--secondary-color);
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: $primary-color;
  --mdc-chip-selected-label-text-color:  var(--secondary-color);
  --mdc-chip-with-icon-selected-icon-color:  var(--secondary-color);
  --mdc-chip-label-text-color: var(--secondary-color);
  --mdc-chip-label-text-weight: large;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: $activeBgColor;
}

.primaryColor{
  background-color: $primary-color;
  width: 3.12rem;
}
.secondaryColor{
  background-color: $secondary-color;
  width: 3.12rem;
}
.dangerColor{
  background-color: $danger-color;
  width: 3.12rem;
}

.warnColor{
  background-color: $warn-color;
  width: 3.12rem;
}

.infoColor{
  background-color: $info-color;
  width: 3.12rem;
}

.acceptColor{
  background-color: $accept-color;
  width: 3.12rem;
}

.whiteColor{
  background-color: white;
  width: 3.12rem;
}

.blackColor{
  background-color: black;
  width: 3.12rem;
}
//
//.panel-header{
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//}
//.panel-title{
// flex-grow: 0.9;
//}
//.panel-arrow{
//  flex-grow: 0.1;
//}
.custom-panel-page {
  background-color: $primary-color;
  color: $secondary-color;
  margin-top: 0.5rem;
}

.naslov-page{
  padding-left: 1rem;
  color: $secondary-color;
}
//https://www.fusonic.net/en/blog/angular-material-customization

//mat-flat-button
.mat-expansion-panel .mat-expansion-panel-header {
  height: 3.25rem;
}
