
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);



//https://demo.agektmr.com/flexbox/

.dashboard-card-iso{

  .mat-mdc-card-content{
    padding: 0;
  }
}
.example-list-iso {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;

  background-color: $primary-color;
}

.example-box-iso {
  //padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.mat-mdc-button-base {
  width: 100%;
  margin: 8px 8px 8px 0;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--secondary-color), 0px 0px 3px 1px var(--secondary-color), 0px 0px 2px 1px var(--secondary-color);
}

.mat-mdc-extended-fab:hover{
  background-color: $secondary-color;
  color: $primary-color;
}
