/* account-activation.component.css */
@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $primary-color ;
  background-color: $secondary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--secondary-color), 0px 0px 3px 1px var(--secondary-color), 0px 0px 2px 1px var(--secondary-color);
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
}

.mat-mdc-extended-fab:hover{
  background-color: $primary-color;
  color: $secondary-color;
}

.code-input{
  color: $secondary-color;
  --item-border: 2px solid var(--secondary-color);
  --item-border-bottom: 2px solid var(--secondary-color);
  --item-border-has-value: 2px solid var(--secondary-color);
  --item-border-bottom-has-value: 2px solid var(--secondary-color);
  --item-border-focused: 2px solid var(--secondary-color);
  --item-border-bottom-focused: 2px solid var(--secondary-color);
  --item-shadow-focused: 0px 1px 5px $secondary-color;
  --item-border-radius: 5px;
  --item-background: transparent;
  --item-font-weight: 500;
}
