/* account-activation.component.css */
@use '@angular/material' as mat;

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 10px;
  --mdc-extended-fab-container-elevation-shadow: 0px 0px 2px 1px var(--secondary-color), 0px 0px 3px 1px var(--secondary-color), 0px 0px 2px 1px var(--secondary-color);
  --mdc-extended-fab-pressed-container-elevation-shadow: none;
}

.mat-mdc-extended-fab:hover{
  background-color: $secondary-color;
  color: $primary-color;
}
