/*.sidenav-container {
  height: 100%;
}

.sidenav {
  width:50%;
}

.mdc-list-item.activeclass{
  color: red !important;
  text-decoration:underline !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


a{
  text-decoration: none;
  color: var(--secondary-color);
}
*/