
<!-- <mat-sidenav-container class="sidenav-container">
<mat-sidenav #drawer class="sidenav" fixedInViewport
   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
   [mode]="(isHandset$ | async) ? 'over' : 'side'"
   [opened]="(isHandset$ | async) === false">
 <mat-toolbar>Menu</mat-toolbar>
 <mat-nav-list>
   <a mat-list-item routerLink="/" style="height: 0;"></a>
   <a mat-list-item routerLink="/address"   routerLinkActive="activeclass" >address</a>
   <a mat-list-item routerLink="/dashboard/{{apartmanId}}"   routerLinkActive="activeclass"  >dashboard</a>
   <a mat-list-item routerLink="/table"   routerLinkActive="activeclass" >table</a>
   <a mat-list-item routerLink="/tree"    routerLinkActive="activeclass">tree</a>
   <a mat-list-item routerLink="/drag"
     [class.list-item-active]="true"
     routerLinkActive="activeclass" >drag</a>

 </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>booking</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


-->

<router-outlet></router-outlet>
<footer>&#169; created by <a href="https://info-dema.eu/web-creator">Dema Web Creator</a></footer>
