@use '@angular/material' as mat;

$corner-radius: var(--corner-radius);
$left: var(--left-padding);
$right: var(--right-padding);
$background-color: var(--background-color);
$actions-border-color: var(--actions-border-color);
$direction: var(--direction);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$warn-color: var(--warn-color);
$info-color: var(--info-color);
$accept-color: var(--accept-color);

:host {
  @include mat.icon-overrides((
          color: $secondary-color,
  ));
  @include mat.expansion-overrides((
          actions-divider-color: orange,
    // container-background-color: red,
          container-text-color:black,
  ));


  @include mat.checkbox-overrides((
          label-text-color: var(--secondary-color),
          label-text-font: var(--secondary-color),
          selected-icon-color: var(--secondary-color),
          selected-hover-icon-color: var(--secondary-color),
          selected-checkmark-color: var(--primary-color),
          selected-focus-icon-color: var(--secondary-color),
          unselected-icon-color: var(--secondary-color),
          unselected-pressed-state-layer-color: var(--secondary-color),
          unselected-hover-state-layer-color: var(--secondary-color),
          unselected-hover-icon-color: var(--secondary-color),
          unselected-focus-state-layer-color: var(--secondary-color),
          selected-pressed-state-layer-color: var(--secondary-color),
          selected-pressed-icon-color: var(--secondary-color),
          selected-focus-state-layer-color: var(--secondary-color),
          selected-hover-state-layer-color: var(--secondary-color),
  ));
}

//mat-accordion {
//  // color: white;
//  min-height: 4rem;
//}
.icon-display-menu {
  color:$secondary-color;
}
.expPnl {
  color: black;
  min-height: 4rem;
  background-color: darkolivegreen;
}

//.mat-expansion-panel{
//
//}
//.mat-expansion-panel-content
//{
//  //color: white;
//  min-height: 4rem;
//}
//--mat-expansion-container-background-color




:host{
  //.ql-editor {
  //  color: $primary-color;
  //  border: $primary-color 1px solid;
  //}
}

@mixin outline-checkbox {
  .mdc-checkbox {
    .mdc-checkbox__native-control:enabled {
      &.checked,
      &:focus:checked,
      &:indeterminate,
      &[data-indeterminate='true'],
      &:checked,
      &:hover:checked,
      &:not(:disabled):active:checked {
        ~ .mdc-checkbox__background {
          background-color: $secondary-color;
          border-color: $primary-color;
        }
      }
    }

    // Define the style for .mdc-checkbox__checkmark
    .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background {
      .mdc-checkbox__checkmark {
        color: $primary-color;
        border-color: #0a53be;
      }
    }
  }
}

.checkbox-item {
  @include outline-checkbox;
}

.mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(100, 12, 12) !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

 .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  border-radius: 5px !important;
  background-color: black !important;
}
.mat-expansion-panel{
  width: 100%;
  background-color: $primary-color !important;
}
.mat-expansion-panel-header{
  background-color: $primary-color !important;
  min-width: 10rem;
}

.mat-expansion-panel-header-title{
  background-color: $primary-color;
}

.mat-expansion-panel-header:hover {
 // background-color: $secondary-color !important;
}
.mat-expansion-panel-content{
  background-color: $secondary-color;
  min-width: 10rem;
}
//.ql-snow .ql-stroke {
//  fill: none;
//  stroke: red !important;
//  stroke-linecap: round;
//  stroke-linejoin: round;
//  stroke-width: 2;
//  color: green;
//}
//.ql-snow{
//  box-sizing: border-box;
//  color: yellow !important;
//}

.text-text{
  color: $primary-color;
  font-weight: bolder;
}
.isoText {
  padding-left: 1rem;
}

mat-slide-toggle {
  margin: 8px 0;
  display: block;
  font-weight: normal;
}

.dashboard-card {
  position: absolute;
  top: 1px;

  left: $left;
  right: $right;
  bottom: 10px;

  background-color: $background-color;
  border: 2px solid $primary-color;
  overflow-y: auto;
  //scrollbar-color: $secondary-color $primary-color;
  @include mat.card-overrides((
          elevated-container-shape: $corner-radius
  ));
}

.dashboard-card mat-card-content {
  padding-top: 0.5rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  // grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.mat-mdc-card-header {
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: start;
}

.header-actions {
  display: flex;
  flex-direction: $direction;
//  width: 100%;
}

.header-title {
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 2px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}


.primaryColor {
  --mat-standard-button-toggle-background-color: #{$primary-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$primary-color};
  width: 50px;
}

.secondaryColor {
  --mat-standard-button-toggle-background-color: #{$secondary-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$secondary-color};
  width: 50px;
}

.dangerColor {
  --mat-standard-button-toggle-background-color: #{$danger-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$danger-color};
  width: 50px;
}

.warnColor {
  --mat-standard-button-toggle-background-color: #{$warn-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$warn-color};
  width: 50px;
}

.infoColor {
  --mat-standard-button-toggle-background-color: #{$info-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$info-color};
  width: 50px;
}

.acceptColor {
  --mat-standard-button-toggle-background-color: #{$accept-color};
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: #{$accept-color};
  width: 50px;
}

.whiteColor {
  --mat-standard-button-toggle-background-color: white;
  --mat-standard-button-toggle-selected-state-text-color: black;
  --mat-standard-button-toggle-selected-state-background-color: white;
  width: 50px;
}

.blackColor {
  --mat-standard-button-toggle-background-color: black;
  --mat-standard-button-toggle-selected-state-text-color: white;
  --mat-standard-button-toggle-selected-state-background-color: black;
  width: 50px;
}

//
.panel-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.panel-title {
  flex-grow: 0.9;
}

.panel-arrow {
  flex-grow: 0.1;
}

.custom-panel {
  background-color: $primary-color;
  color: $secondary-color;
  margin-top: 0.5rem !important;
  .ql-editor {
    color: $primary-color;
    border: $primary-color 1px solid;
    width: 20rem;
  }
}

.myEditor{

  .ql-toolbar .ql-stroke {
    fill: none;
    stroke: $primary-color;
  }

  .ql-toolbar .ql-fill {
    fill: $primary-color;
    stroke: none;
  }

  .ql-toolbar .ql-picker {
    color: $primary-color;
  }


  .ql-picker-options{
    background-color: $secondary-color !important;
    color: $primary-color !important;
  }
  .ql-picker-options:hover{
    background-color: $secondary-color !important;
    color: $primary-color !important;
  }
  .ql-active{
    font-weight: bolder !important;
    color: $primary-color !important;
  }
  .ql-stroke{
    color: $primary-color !important;
  }

  .ql-picker-label{
    color: $primary-color !important;
  }
  .ql-toolbar .ql-snow{
    color: $primary-color !important;
  }
  .ql-bold .ql-active{
    color: $primary-color !important;
    font-weight: bolder;
  }




}
.custom-panel-flags {
  background-color: $primary-color;
  color: $secondary-color;
  margin-top: 0.5rem !important;
  //.mat-expansion-panel-header {
  //  display: flex;
  //  flex-direction: row;
  //  width: 100%;
  //}

  .ql-editor {
    color: $primary-color;
    border: $primary-color 1px solid;
   // padding-right: 10px;
    width: 12rem;
  }
}

.mybutton {
 margin-top: 1rem;
  background-color: $secondary-color !important;
  color: $primary-color !important;
}
.mybutton:hover {
  background-color: $primary-color !important;
  color: $secondary-color !important;
}

.naslov {
  padding-left: 1rem;
  color: $secondary-color;
}

.my-slider {
  --mdc-slider-handle-color: $secondary-color;
  --mdc-slider-active-track-color: $secondary-color;
  --mdc-slider-inactive-track-color: orange;

  --mdc-slider-with-tick-marks-active-container-color: $secondary-color;

  --mat-minimal-pseudo-checkbox-selected-checkmark-color: $secondary-color;
  --mat-full-pseudo-checkbox-selected-icon-color: $secondary-color;

  --mat-slider-focus-state-layer-color: $secondary-color;
  --mdc-slider-inactive-track-height: 12px;

  --mdc-slider-handle-height: 25px;
  --mdc-slider-handle-width: 40px;

  --mdc-slider-inactive-track-shape: 20px;
}


//https://www.fusonic.net/en/blog/angular-material-customization

//mat-flat-button
