<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-notdog fa-solid fa-t fa-xl text"></i>
            <div class="naslov">Title and Description</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons" [formGroup]="form">
        <div formArrayName="iso">
            @for (iso of header?.main?.languages; track iso.iso; let i = $index) {
                <mat-expansion-panel class="custom-panel-flags" (opened)="isOpened = !isOpened"
                                     (closed)="isOpened = !isOpened">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div [ngClass]="flag(iso.iso)"></div>
                            <div class="text isoText">{{ getIsoByKey(iso.iso) }}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="actionButtons">
                        <div [formGroupName]="i">
                            <div class="text-text">Title</div>
                            <quill-editor  class="myEditor"
                                          format="html"
                                          [modules]="quillConfiguration"
                                          [placeholder]="''"
                                          formControlName="title"
                            ></quill-editor>
                            <mat-divider></mat-divider>
                            <div class="text-text">Description</div>
                            <quill-editor class="myEditor"
                                          format="html"
                                          [modules]="quillConfiguration"
                                          [placeholder]="''"
                                          formControlName="description"
                            ></quill-editor>
                        </div>
                    </div>
                </mat-expansion-panel>
            }
        </div>

        <button class="mybutton" [disabled]="!form.valid" (click)="onUpdateIso()" mat-fab extended>
            Update
        </button>

    </div>
</mat-expansion-panel>


<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-solid fa-palette fa-xl text"></i>
            <div class="naslov">Colors</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons" [formGroup]="form">
        <mat-label>Primary Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="primaryColor" [value]="primaryColor"><br>

        <mat-label>Secondary Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="secondaryColor" [value]="secondaryColor"><br>

        <mat-label>Danger Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="dangerColor" [value]="dangerColor"><br>

        <mat-label>Warn Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="warnColor" [value]="warnColor"><br>

        <mat-label>Info Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="infoColor" [value]="infoColor"><br>

        <mat-label>Accept Color</mat-label>
        <input type="color" (change)="changeColor()" formControlName="acceptColor" [value]="acceptColor">
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-solid fa-f fa-xl text"></i>
            <div class="naslov">Fonts</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons">

        @for (font_types of font_families.keys(); track $index) {

            <mat-expansion-panel class="custom-panel-flags" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="naslov">{{font_types}}</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="actionButtons">
                    @for (font_family of font_families.get(font_types); track $index) {
                        <p class="checkbox-item">
                        <mat-checkbox [style.color]="primaryColor" [checked]="getChecked(font_family)" [value]="font_family" (change)="onChange($event)">
                           <div [style.font-family]="font_family"
                                [style.color]="primaryColor"
                                [style.transform]="'scale(1.3)'">
                               {{ font_family }}
                           </div>
                        </mat-checkbox>
                        </p>
                    }

                </div>
            </mat-expansion-panel>

        }


        <button class="mybutton" [disabled]="!form.valid" (click)="reload()" mat-fab extended>
            Update
        </button>
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-regular fa-image fa-xl text"></i>
            <div class="naslov">Logo image</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons" [formGroup]="form">
        <input #logoImageInput
               (change)="selectLogo($event)"
               class="form-control"
               type="file"
               accept="image/*"
        >
        <mat-error></mat-error>

        <br>
        @if (showPicture) {
            <img width="100" src="{{showPicture}}" alt=""/>
            <mat-checkbox (change)="onRemovePicture($event)">
                {{ "remove.image" | translate }}
            </mat-checkbox>
        }
        <br>
        {{ toBigImage }}
    </div>
</mat-expansion-panel>


<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-solid fa-image fa-xl text"></i>
            <div class="naslov">Background image</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons text" [formGroup]="form">
        <input #backgroundImageInput
               (change)="selectBackgroundImage($event)"
               class="form-control"
               type="file"
               accept="image/*"
        >
        <mat-error></mat-error>

        <br>
        @if (showBackgroundImage) {
            <img width="100" src="{{showBackgroundImage}}" alt=""/>
            <mat-checkbox (change)="onRemoveBackgroundPicture($event)">
                {{ "remove.image" | translate }}
            </mat-checkbox>
        }
        <br>
        {{ toBigImage }}
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-solid fa-circle-half-stroke fa-xl text"></i>
            <div class="naslov">Gradient Background</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons" [formGroup]="form">

        {{ rate }}
        <mat-slider class="my-slider" min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb value="{{rate}}" (valueChange)="changeSlider($event)">
        </mat-slider>
    </div>
</mat-expansion-panel>

<mat-expansion-panel class="custom-panel" (opened)="isOpened = !isOpened" (closed)="isOpened = !isOpened">

    <mat-expansion-panel-header>
        <mat-panel-title>
            <i class="fa-solid fa-earth-americas fa-xl text"></i>
            <div class="naslov">Languages</div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actionButtons">
        <choose-iso [chosenLanguages]="header?.main?.languages"
                    (selectedIso)="onSelectedIso($event)" >
        </choose-iso>
    </div>
</mat-expansion-panel>
