<mat-card class="dashboard-card ">
    <mat-card-content>
        <div class="example-list"
             cdkDropList
             cdkDropListOrientation="horizontal"
             #todoList="cdkDropList"
             [cdkDropListData]="chosen"
             [cdkDropListConnectedTo]="[doneList]"
             (cdkDropListDropped)="drop($event)"
        >
            @for (item of chosen; track item) {
                <div class="example-box"  cdkDrag [ngClass]="flag(item)"></div>
            }
        </div>

        <div class="example-list"
             cdkDropList
             #doneList="cdkDropList"
             cdkDropListOrientation="horizontal"
             [cdkDropListData]="toChoose"
             [cdkDropListConnectedTo]="[todoList]"
             (cdkDropListDropped)="drop($event)"
        >
            @for (item of toChoose; track item) {

                <div class="example-box"  cdkDrag [ngClass]="flag(item)">
                </div>
            }
        </div>
        <!--
        <div class="row-container">
          <h2>Chosen</h2>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="chosen"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of chosen; track item) {
              <div cdkDrag>{{item}}</div>
            }
          </div>
        </div>


        <div class="row-container">
          <h2>To Choose</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="toChoose"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of toChoose; track item) {
              <div class="example-box" cdkDrag>{{item}}</div>
            }
          </div>
        </div>
        -->
        <button
                routerLinkActive="activebutton"
                mat-fab extended (click)="saveIso()">
            {{ "save.languages" | translate }}
        </button>
        <!-- Copyright 2023 Google LLC. All Rights Reserved.
            Use of this source code is governed by an MIT-style license that
            can be found in the LICENSE file at https://angular.io/license -->


    </mat-card-content>
</mat-card>



