.pic-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.4fr;
  width: 100%;
  height: 100%;
}
.pic-image2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 1;
}
.pic-content2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  z-index: 2;
  width: 100%;
}
.pic-shop {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  z-index: 2;

}
