
.domain-item{
  display: flex;
  flex-direction: row;
  height: 95px;
  border-radius: 16px;
}

.domain-item:hover{
  cursor: pointer !important;
  transform: scale(1.05);
}

.domain{
  padding-top: 0.5rem;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(var(--domains-col), 1fr);
  gap: 16px;
  //display: flex;
  //flex-direction: row;
  //text-decoration: none;
  //cursor: pointer;
  //width: 100%;
  //border-radius: 16px;
  //align-items: center;

}


.domain-item-logo{
  flex-grow: 0.1;
  img{
    height: 86px;
    border-radius: 16px;
  }
}
.domain-item-text {
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer !important;
  .ql-editor{
    height: 85px;
    padding: 0 !important;
    margin: 0;
    cursor: pointer !important;
  }
  flex-grow: 0.8;
}
.domain-item-background {
  flex-grow: 0.1;
  display: flex;
  justify-content: right;
  img{
    height: 86px;
    max-width: 120px;
    border-radius: 16px;
  }
}







